.loading{
  background-image:url('/images/wildfire/backgrounds/loader.gif');
  background-repeat:no-repeat;
  background-position:center 5%;
}

#files .loading, .files_index .loading, #wildfire-image-dialog .loading{
  background-image:url('/images/wildfire/backgrounds/small-loader-on-green.gif');
  background-position:95% 5%;
}

.filters_pagination form.loading{
  background-image:url('/images/wildfire/backgrounds/small-loader-on-black.gif');
  background-position:right 5%;
}
form .multipleselect input.loading{
  background-image:url('/images/wildfire/backgrounds/small-loader-on-white.gif');
  background-position:right 5%;
}

.data_table .loading{background-image:none;}
.data_table .loading .operations{
  background-repeat:no-repeat;
  background-image:url('/images/wildfire/backgrounds/small-loader-on-white.gif');
  background-position:right 8px;
}