.loading{
  background-image:url('/images/wildfire/backgrounds/loader.gif');
  background-repeat:no-repeat;
  background-position:center 5%;
}
.files_index .loading{
  background-image:url('/images/wildfire/backgrounds/small-loader-on-green.gif');
  background-repeat:no-repeat;
  background-position:center 5%;
}