.loading{
  background-image:url('/images/wildfire/backgrounds/loader.gif');
  background-repeat:no-repeat;
  background-position:center 5%;
}

#files .loading{
  background-image:url('/images/wildfire/backgrounds/small-loader-on-green.gif');
  background-position:95% 5%;
}

.filters_pagination form.loading{
  background-image:url('/images/wildfire/backgrounds/small-loader-on-black.gif');
  background-position:right 5%;
}