<div id="template_start">
  <div class="section one_column_section clearfix __t__ normal">
    <!-- ONE COLUMN -->
    <p class='highlight_para'>Lorem ipsum dolor sit amet, sed do eiusmod tempor. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <hr class='spacer'><p>&nbsp;</p>
</div>

