<?=javascript_asset("jquery","jquery.tabs.min")?>
<?=stylesheet_asset("jquery", "jquery.tabs")?>
<?=javascript_asset("cms","cms_section")?>
<!--[if lte IE 7]>
  <?=stylesheet_asset("jquery", "jquery.tabs-ie")?>
<![endif]-->


<div id="container">
  <ul class="tabs-nav">
    <li><a href="#section-1">Editing Site Section</a></li>
  </ul>
  
  <div id="content_window" class="clearfix">
    <div id="content_editor">
      <div id="section-1" class="tabs-container">
        <fieldset id="wysiwyg">
          <?=large(simple_wysiwyg($model, "introduction"))?>
        </fieldset>
				
      </div>
			<div id="resizehandle"></div>
    </div>

    <fieldset id="content_options">
      <?=large(text_field($model, "title"))?>
    	<?=form_divider()?>
      <?=large(select($model, "parent_id", array_diff_key($tree_collection, array($model->primval=>"")), array(), "Parent Section"))?>
			<?=form_divider()?>


			<?if($allowed_default_page && $current_user->usegroup > 20):?>
			<?
			$mod = new CmsSection();
			$sections = $mod->tree();
			?>
			<div class='large'>
				<label>Default Page</label>
				<select name="cms_section[default_page_id]" class="input_field select_field">
				<?foreach($sections as $group):?>
					<optgroup label='<?=$group->title?>'>
					<?foreach($group->content as $item):?>
					<option value="<?=$item->primval?>"><?=$item->title?></option>
					<?endforeach?>
					</optgroup>
				<?endforeach?>
				</select>
			</div>
			<?endif?>

    </fieldset>
    <div class="clearfix"></div>
    <fieldset id="submit">
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_save.gif")?>" name="save" value="Save" />
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_save_close.gif")?>" name="save_close" value="Save and Close" />
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_cancel.gif")?>" name="cancel" value="Cancel" />
    </fieldset>
  </div>

</div>

<?=preview_window($page->permalink, "preview_link", "preview_pane")?>

<?=$link_partial?>
<?=$video_partial?>