#white-cms .files_index{
  background:white;
}
#white-cms .file-tree-container a:hover{ 
  background-color:#CEF1DF;
}
  #white-cms .file-tree-container a.active{
    background-color:#DAFFEC;
    font-weight:bold;
  }
  

  