/**
 * forms
 */
#white-cms form.form_container{
  background:white;
}
#white-cms #data-listing{
  background:white;
}
  #white-cms form.form_container .text_field:focus, #white-cms form.form_container textarea:focus{
    border-color:#F89E1E;
    border-style:solid;
  }

#white-cms form input[disabled=disabled]{
  background:#ececec;
}
/** parents **/
#white-cms .tree .active{background:#DAFFEC;}
#white-cms .content_parent .has-children a{
  background-image: url("/images/wildfire/jqueryui/ui-icons_323231_256x240.png");
}
  #white-cms .content_parent .has-children a.open{
    background-position: -16px -192px;
  }
#white-cms .content_parent .field:hover{background:#CEF1DF;}

.tree span.live a{
  background:#73AD48;
}
.tree span.not-live a{
  background:#AB3633;
}