
/**
 * tables
 */
table td, table th{
  border-bottom-width:0;
  border-top-width:0;
  border-color:#D8D8D8;
  font-size:12px;
}
  table thead th{
    border-bottom-width:1px;
    font-weight:bold;
    font-size:93%;
  }

#white-cms div.content_index .tree-children .view_children a{
  background-image: url("/images/wildfire/jqueryui/ui-icons_323231_256x240.png");
}
  #white-cms div.content_index .tree-children .view_children a.open{
    background-position: -16px -192px;
  }
  
  #white-cms .active td, #white-cms .active th{background:#DAFFEC;}
  #white-cms tbody tr.row:hover td, #white-cms tbody tr.row:hover th{background:#CEF1DF;}

#white-cms ul li.is_joined{font-weight:bold;}


.data_table td.live a, #v2-cms .dashboard table td.live a{
  color:#73AD48;
}
.data_table td.not-live a, #v2-cms .dashboard table td.not-live a{
  color:#AB3633;
}