
/**
 * tables
 */
table td, table th{
  border-bottom-width:0;
  border-top-width:0;
  border-color:#D8D8D8;
  font-size:12px;
}
  table thead th{
    border-bottom-width:1px;
    font-weight:bold;
    font-size:93%;
  }

#white-cms div.content_index .tree-children .view_children a{
  background-image: url("/images/wildfire/jqueryui/ui-icons_323231_256x240.png");
}
  #white-cms div.content_index .tree-children .view_children a.open{
    background-position: -16px -192px;
  }
  
  #white-cms .active td, #white-cms .active th{background:#DAFFEC;}
  #white-cms tbody tr.row:hover td, #white-cms tbody tr.row:hover th{background:#CEF1DF;}

#white-cms ul li.is_joined{font-weight:bold;}

.data_table .status{
  text-align:center;
}
.data_table .live a, .data_table .not-live a, .data_tree .live, .data_tree .not-live{
  font-size:10px;
  text-transform:uppercase;
  padding:4px 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.data_tree .live, .data_tree .not-live{
  font-size:9px;
  padding:3px 4px;
}
.data_table .live a, .data_tree .live{
  background:#73AD48;
  color:#31421c;
}
.data_table .not-live a, .data_tree .not-live{
  background:#d0576e;
  color:#661a29;
}
.data_tree .not-live{
  margin:2px 20px 0 0;
}
.data_tree .live{
  margin:2px 30px 0 0;
}
.data_tree .ui-icon{
  float:left;
  margin-right:5px;
}
.data_tree .ui-icon-empty{
  background-position:-500% -500%;
}