<fieldset>
	<?=form_heading("Edit Page")?>
  <?=medium(text_field($model, "title"))?>
  <?=small(select($model, "status", $model->status_options))?>
  <?=small(select($model, "cms_section_id", options_from_collection($model->sections, "id", "title"), array(), "Choose a section" ))?>
  
  <?=large(simple_wysiwyg($model, "content"))?>
	<?=form_divider()?>
  <?=small(submit_field($model, "Save"))?>
  <?=form_divider()?>
  <?=link_to("cancel", array("action"=>"index"))?>
</fieldset>

<?if($allowed_images):?>
  <?=$image_partial?>
<?endif?>
<?=$category_partial?>