<?= cms_text_editor()?>
<form action="" method="post" enctype="multipart/form-data">
	<div id="form-area-main">
		<p><?=text_field($page, "title", array('class'=>'title'))?></p>
		<p><?=text_field($page, "url")?></p>
		<p><?=text_field($page, "excerpt", array('class'=>'excerpt'))?></p>
		<p><?=text_area($page, "content", array('class'=>'content'))?></p>
	</div>
	<div id="form-area-options">
		<div class="form-option">
			<h3>Status</h3>
			<p><?=select($page, "status", $status_array)?></p>
		</div>
	</div>
	<div id="form-area-submit">
		<?=submit_field($page, "Save Page")?>
	</div>
</form>