<script>
  function toggle_browser() {
    if($('image_browser').style.width == '450px') {
      $('image_browser').style.width="0px";
    } else {
      $('image_browser').style.width="450px";
    }
  }
</script>
<style>
  #image_browser_container {
    position:absolute;
    top:180px;
    left:0px;
  }
  #image_browser {
    width:0px;
    border:1px solid #302D2D;
    float:left;
    overflow:hidden;
    height:550px;
    background:url(/images/cms/image-browse-bg.gif) repeat-y;
  }
  #image_list {
    padding:10px;
    float:left;
    width:320px;
  }
  #image_browse_tab {
    float:left;
    width:34px;
    height:100px;
    margin-top:15px;
  }
  #filter_block {
    padding:4px 10px;
  }
  #drop_zones {
    float:left;
    padding:4px;
    width:100px;
  }
  .dropzone_active {
    border:1px solid #333333;
  }
  .browse_image {
    float:left;
    text-align:center;
    margin-right:5px;
  }
</style>
<div id="image_browser_container">

  <div id="image_browser">
    <div id="filter_block">
      <form id="filter_form" action="">
        <strong>Filter images: </strong>(type some text from the filename)<br /> 
        <input type="text" id="image_filter" name="filter" size="20" />
      </form>
      <?=observe_field("image_filter", array(
        "url" => array("controller"=>"admin/files", "action"=>"image_filter"),
        "frequency" => "1",
        "update"=>"image_list",
        "with"=>"'filter='+value"
      ))?>
    </div>
    <div id="image_list">
      <?=javascript_tag("Event.observe(window, 'load', function(e){ new Ajax.Updater('image_list', '/admin/files/browse_images') })")?>
    </div>
    
    
    <div id="drop_zones">
      <h4>Drop Images Here</h4>
      <div id="droppables">
        <?for($i=0; $i<$allowed_images; $i++):?>
          <div id="dropzone_<?=$i?>" style="border:1px solid red;">
            <?if($img = $attached_images[$i]):?>
              <img src="/admin/files/show_image/<?=$img->id?>">
            <?else:?>
              <img src="/images/cms/image-drop-zone.gif" />
            <?endif?>
          </div>
          <?=drop_receiving_element("dropzone_".$i, array(
            "update" => "dropzone_".$i,
            "url" => array("action" => "add_image"),
            "hoverclass" => "dropzone_active"
          ))?>
        <?endfor?>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="image_browse_tab" class="clearfix">
    <img src="/images/cms/image-browse-tab.gif" onclick="toggle_browser();" />
  </div>
  
</div>