<?= cms_text_editor()?>
<form action="" method="post" enctype="multipart/form-data">
<div id="form-area-main">
	<p><?=text_field($post, "title", array('class'=>'title'))?></p>
	<p><?=text_field($post, "url")?></p>
	<p><?=text_field($post, "excerpt", array('class'=>'excerpt'))?></p>
	<p><?=text_area($post, "content", array('class'=>'content'))?></p>
</div>
<div id="form-area-options">
	<div class="form-option">
		<h3>Categories</h3>
		<?php foreach( $categories as $id => $category ): ?>
			<?php $param = array(); if( $category['selected'] == 1 ){ $param['checked'] = 'checked'; }?>
			<?=check_box_tag( 'category[]', $id, $param )?> <?= $category['name']?><br />
		<?php endforeach ?>
	</div>
	<div class="form-option">
		<h3>Document Status</h3>
		<?=select($post, "status", $status_array)?>
	</div>
</div>
<div id="form-area-submit">
	<?=submit_field($post, "Save Post")?>
</div>
</form>