<h2>Edit Post</h2>
<?=error_messages_for("cms_post")?>
<?=$form?>
<h3>Versions</h3>
<table>
  <tr>
    <?foreach($scaffold_columns_vc as $heading):?>
      <th><?=humanize($heading)?></th>
    <?endforeach;?>
      <th>Operations</th>
  </tr>
  <?foreach($version_rows as $row):?>
  <tr>
    <?foreach($scaffold_columns_vc as $column):?>
      <td style="vertical-align:top;"><?=$row->$column?></td>
    <?endforeach;?>
    <td>
      <?=button_to("Save to Working Copy", array("action" => "restore", "vid" => $row->id), 
      array("confirm" => "Are you sure?", "name" => "restore"))?>
    </td>
    
  </tr>
  <?endforeach;?>
</table>