<script language="JavaScript" type="text/javascript">
function doAction( url ){
	for (i=0;i<document.cmsForm.row.length;i++){
		if (document.cmsForm.row[i].checked==true){
			window.location = url + document.cmsForm.row[i].value;
			break; //exist for loop, as target acquired.
		}
	}
}
</script>
Items Per Page: <a href="?list_limit=1">1</a> | <a href="?list_limit=2">2</a> | <a href="?list_limit=3">3</a> | <a href="?list_limit=10">10</a><br />
Page: <?= cms_pagination( $this->page_no, $total_items, $this->list_limit )?> - <?=$total_items?> Items
<div style="float:right;">
	<img src='/images/cms-icon-view.png' alt='View Item' title='View Item' class='operation-icon' onclick="javascript:doAction('posts/view/');" />
	<img src='/images/cms-icon-edit.png' alt='Edit Item' title='Edit Item' class='operation-icon' onclick="javascript:doAction('posts/working_copy/');" />
	<img src='/images/cms-icon-trash.png' alt='Trash Item' title='Trash Item' class='operation-icon' onclick="javascript:doAction('posts/trash/');" />
</div>
<div class="cb">&nbsp;</div>
<form name="cmsForm">
	<table>
		<tr>
			<th></th>
		  <?foreach($list_scaffold_columns as $heading => $human_heading):?>
		    <th><a href="?order=<?=$heading?>"><?=$human_heading?></a></th>
		  <?endforeach;?>
			<?= cms_reorder_list( $all_rows,$list_scaffold_columns, 'posts','postsOrder', 'tr' ) ?>
		</tr>
	</table>
</form>