#adminlogin{
  height:100%;
  background:#333;
  color:#999;
  text-shadow:1px 1px 2px #141414;
}
  #adminlogin body{
    height:100%;
    -moz-box-shadow: inset 0 0 200px #000;
    -webkit-box-shadow: inset 0 0 200px #000;
    box-shadow: inset 0 0 200px #000;
  }
  
  #adminlogin .middle{
    width:317px;
    margin:auto;
  }
  
  #adminlogin h1{
    color:#f9f9f9;
    border-bottom:1px solid #242424;
    font-size:108%;
    padding-bottom:15px;
    margin-bottom:0;
  }
  
  #adminlogin h1 img{
    margin:100px 0 5px;
  }
  
  #adminlogin form{
    padding:15px 10px;
    border-top:1px solid #424242;
    border-bottom:1px solid #242424;
  }
  
  #adminlogin .text_field{
    background:#282828;
    border:none;
    border-bottom:1px solid #434343;
    margin-top:15px;
    width:277px;
    color:#666;
    font-size:93%;
    padding:10px;
    box-shadow: inset 0 1px 1px #171717;
    -moz-box-shadow: inset 0 1px 1px #171717;
    -webkit-box-shadow: inset 0 1px 1px #171717;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
  }
  
  #adminlogin label{
    display:none;
  }
  
  #adminlogin .submit_field{
    position:absolute;
    margin-top:-33px;
    margin-left:215px;
    background:#f2f2f2;
    border:1px solid #d3d3d3;
    border-radius:3px;
    font-size:93%;
    padding:7px 23px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
  }
  
  #adminlogin .user_errors{
    color:inherit;
    background:none;
    padding:0;
    margin:0;
    border:none;
  }
  
  #adminlogin .user_error{
    color:#e33a42;
    margin:20px 0 0;
    padding-left:22px;
    background:transparent url(/images/wildfire/icons/red-cross.png) no-repeat center left;
  }
  
  #adminlogin #footer{
    border-top:1px solid #424242;
  }
  #adminlogin #footer, #adminlogin #footer a{
    color:#999;
    padding:15px 0;
  }
