#adminlogout{
  background:#F15623;
}
  #adminlogout body{
    background:url('/images/wildfire/backgrounds/login.jpg') no-repeat top left;
    padding:100px 0 100px 254px;
    width:310px;
    margin:auto;
  }
  
  #adminlogout h1{
    margin:0 20px 10px 20px;
    padding:10px 0;
    width:260px;
    height:88px;
    background:url('/images/wildfire/logos/white.png') no-repeat center center;
  }
    #adminlogout h1 span{display:none;}
  
  #adminlogout form{
    margin:0 20px;  
    padding-bottom:190px;  
  }
    
    #adminlogout form label{
      font-size:108%;
      display:block;
      color:white;
      font-weight:bold;
      margin-bottom:5px;
    }
    
    #adminlogout form .text_field{
      font-size:108%;
      display:block;
      padding:3px 5px;
      width:90%;
      margin-bottom:5px;
    }
    
    #adminlogout .submit_field{
      margin-top:10px;
      font-size:108%;
      display:block;
      padding:10px 5px;
      background:#F89E1E;
      border:0;
      color:white;
      font-weight:bold;
      display:block;
      width:96%;
      text-align:center;
    }