.file-tree{
  width:60%;
  float:left;
  height:500px;
  overflow:auto;
}
  #page_content .file-tree ul li{
    font-size:108%;
    padding-left:5px;
  }
  #page_content .file-tree ul li a{
    padding:6px 2px 6px 25px;
    background-position:5px 5px;
  }
  
  .jqueryFileTree ul{margin-left:15px;}
  
  
.info{
  float:right;
  width:40%;
}
  .file-info{
    padding:10px;
  }
