.file-tree-container{
  width:60%;
  float:left;
  height:500px;
  overflow:auto;
  overflow-x:hidden;
}
  #page_content .file-tree-container ul li{
    text-align:right;
  }
  #page_content .file-tree-container ul li a{
    padding:6px 2px 6px 25px;
    background-position:5px 5px;
    text-align:left;
  }
    


  #page_content .file-tree-container li .options a{
    float:right;
    padding:0;
    background:none;
  }  
.file_drop_active {
	background:#CEF1DF;
}