.file-tree-container{
  width:60%;
  float:left;
  height:500px;
  overflow:auto;
  overflow-x:hidden;
}
  #page_content .file-tree-container ul li{
    font-size:108%;
  }
  #page_content .file-tree-container ul li a{
    padding:6px 2px 6px 25px;
    background-position:5px 5px;
  }
    

#page_content .file-tree-container li .options{
  float:right;
  width:70px;
  padding:6px 2px;
  margin-right:10px;
}
  #page_content .file-tree-container li .options a{
    float:right;
    padding:0;
    background:none;
  }  
  