.button, .submit_field{
  font-family:arial;
	font-weight:bold;
	font-size:85%;
	padding:6px 10px;
	cursor:pointer; 
	text-decoration:none;
	border:0;
}
.button{
  display:inline-block;
  margin:0 10px 0 0;
}
  .button:hover{}
  
.orange{
	background:#F89E1E;
}

.operation{
  padding:6px 4px;
  font-weight:normal;
}
  .operation_edit{
    background:#8EA79A;
  }
  .operation_delete{
    background:#F89E1E;
  }

.submit_field{
  display:inline-block;
  margin:0 10px 0 0;
  background:#8EA79A;
}

