form{border:0;background:none;}
  body.wildfire form.form_container fieldset{
    padding:10px 0;
    border:0;
  }
    form fieldset label{
      display:block;
      width:100%;
      font-weight:bold;
      margin-bottom:8px;
    }
    form fieldset select{
      width:98%;
    }
    form fieldset .field{
      margin-bottom:10px;
      padding:5px 2%;
    }
    form fieldset .text_field, form fieldset textarea{
      padding:6px 6px;
      display:block;
      width:98%;
      font-size:116%;
    }
    form fieldset textarea{height:90px;}
    .form-submit{padding:10px 2%;}

/*fordepth*/
option.select-depth-1{padding-left:10px;}
  option.select-depth-2{padding-left:20px;}
    option.select-depth-3{padding-left:30px;}
      option.select-depth-4{padding-left:45px;}
        option.select-depth-5{padding-left:55px;}
          option.select-depth-6{padding-left:65px;}        