h1{}
h2{}
h3{}
h4{}
h5{}
h6{}

a{
  text-decoration:none;
  color:white;
}
a:hover{
  color:#AEAEAE;
}

p{}

strong, b{}

em,i{}

code{}

blockquote{}

li{position:relative;}

ul{}
  ul li{}
    ul li ul{}
      ul li ul li{}
    ul li ol{}
      ul li ol li{}

ol{}
  ol li{}
    ol li ol{}
      ol li ol li{}
    ol li ul{}
      ol li ul li{}

table{width:100%;}

  table td{
    padding:8px;
  }
  table th{
    color:white;
    padding:8px;
  }

  table caption{}
  
  table th, table td{
    color:white;
    border-bottom:1px solid black;
    border-top:1px solid black;
    border-right:1px solid black;    
  }
    table th:last-child, table td:last-child;{border-right-width:0;}
    table .operations{border-right-width:0;}
    
form{}
  form fieldset{
    padding:10px 2%;
    border-bottom:1px solid black;
  }
    form fieldset label{
      text-transform:uppercase;
      display:block;
      width:100%;
      font-weight:bold;
      color:white;
      margin-bottom:8px;
    }
    form fieldset .field{
      margin-bottom:10px;
    }
    form fieldset .text_field, form fieldset textarea{
      padding:4px 6px;
      display:block;
      width:98%;
    }
    form fieldset textarea{height:90px;}