.user_information, .user_messages, .user_confirmation {
	color:#333333;
	background:#EEE877;
	padding:10px;
	border:1px solid #E8EE39;
	margin:10px;
}
.user_errors {
	color:#333333;
	background:#ffd1d1;
	padding:10px;
	margin:10px;
	border:1px solid #ff9494;
}


.info-container{
  padding:0px 2%;
  margin:15px auto;
}
  .info-container .ui-state-highlight{padding:10px;}
  .info-container p{font-size:108%;margin-bottom:10px;}
  .info-container p:last-child{margin-bottom:0;}
  .info-container a{text-decoration:underline;}
  .info-container .ui-icon{float:left;margin-right:5px;}