.user_information, .user_messages, .user_confirmation {
	color:#333333;
	background:url("/images/wildfire/jqueryui/ui-bg_flat_100_eee877_40x100.png") repeat-x scroll 50% 50% #EEE877;
	padding:10px;
	border:1px solid #EEE877;
	margin:10px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.user_errors {
	color:#333333;
	background:#ffd1d1;
	padding:10px;
	margin:10px;
	border:1px solid #ff9494;
}


.info-container, .url-issues, .tree-issues, .parent-issues{
  padding:0px 2%;
  margin:15px auto;
}
  .info-container .ui-state-highlight, .url-issues .ui-state-highlight, .tree-issues .ui-state-highlight, .parent-issues .ui-state-highlight{padding:10px;}
  .info-container p, .url-issues p,.tree-issues p, .parent-issues p{font-size:108%;margin-bottom:10px;}
  .info-container p:last-child, .url-issues p:last-child, .tree-issues p:last-child, .parent-issues p:last-child{margin-bottom:0;}
  .info-container a, .url-issues a, .tree-issues a, .parent-issues a{text-decoration:underline;}
  .info-container .ui-icon, .url-issues .ui-icon, .tree-issues .ui-icon, .parent-issues .ui-icon{float:left;margin-right:5px;}

.url-issues, .tree-issues, .parent-issues{
  margin:0px auto;
}