h1{font-size:131%;}
h2{font-size:116%;}
h3{font-size:108%;}
h4{font-size:100%;}
h5{font-size:100%;}
h6{font-size:100%;}

h1,h2,h3{font-weight:bold;}
h1,h2,h3,h4,h5,h6{margin-bottom:10px;}

a{
  text-decoration:none;
}
a:hover{}

p{font-size:100%;}

strong, b{font-weight:bold;}

em,i{font-style:italic;}

code{}

blockquote{}