h1{font-size:131%;}
h2{font-size:116%;}
h3{font-size:108%;}
h4{font-size:100%;}
h5{font-size:100%;}
h6{font-size:100%;}

h1,h2,h3{font-weight:bold;}
h1,h2,h3,h4,h5,h6{color:white;margin-bottom:10px;}

a{
  text-decoration:none;
  color:white;
}
a:hover{
  color:#AEAEAE;
}

p{}

strong, b{}

em,i{}

code{}

blockquote{}