html{min-height:100%;}
#logo{
  float:left;
  margin:6px 0 2px 9px;
  width:177px;
  clear:both;
}

#primary_navigation{
  float:left;
  width:20.8%;
  padding:10px 0;
}

#page_content{
  width:79%;
  float:right;
  border-left:2px solid #696969;
  border-bottom:2px solid #696969;
  padding:0;
  background:#FFF;
  overflow:hidden;
}

.full{}