#logo{
  float:left;
  margin:10px 0;
  width:177px;
}

#primary_navigation{
  float:left;
  clear:both;
  width:197px;
  padding:10px 0;
}

#page_content{
  margin-left:197px;
  border-left:3px solid #696969;
  padding:10px 0;
  background:#323231;
}