<?if($model->id):?>
  <script type="text/javascript">
  var content_page_id = <?=$model->id?>;
  </script>
<?endif?>

<div id="container">
  
  <ul class="tabs-nav">
    <li><a href="#section-1">User Details</a></li>
    <?if($model->primval && ($model->primval != $current_user->primval || $current_user->username == "admin") && $current_user->access($module_name,"admin")):?>
    <li><a href="#section-2">Sections</a></li>
    <li><a href="#section-3">Modules</a></li>
    <?endif?>
  </ul>

  <div id="content_window" class="clearfix">
    <div id="section-1" class="tabs-container">
      <fieldset class="content_options">
        <?=large(text_field($model, "username"))?>
      	<hr />
        <?=large(text_field($model, "email"))?>
        <hr />
        <?=large(text_field($model, "firstname"))?>
        <hr />
        <?=large(text_field($model, "surname"))?>
        <hr />
        <?=large(text_field($model, "password"))?>
        
      </fieldset>
      <div class="clearfix"></div>
      <fieldset id="submit">
        <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_save.gif")?>" name="save" value="Save" />
        <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_save_close.gif")?>" name="save_close" value="Save and Close" />
        <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_cancel.gif")?>" name="cancel" value="Cancel" />
      </fieldset>
    </div>
    <?if($model->primval && ($model->primval != $current_user->primval || $current_user->username == "admin") && $current_user->access($module_name,"admin")):?>
    <div id="section-2" class="tabs-container">
      <?=partial("_apply_sections", $this)?>
    </div>
    <div id="section-3" class="tabs-container">
      <?=partial("_modules", $this)?>
    </div>
    <?endif?>
  </div>

</div>
