
<div id="container">
  
  <div id="content_window" class="clearfix">

    <fieldset id="content_options">
      <?=large(text_field($model, "username"))?>
    	<hr />
      <?=large(text_field($model, "email"))?>
      <hr />
      <?=large(text_field($model, "firstname"))?>
      <hr />
      <?=large(text_field($model, "surname"))?>
      <hr />
      <?=large(text_field($model, "password"))?>
    </fieldset>
    <div class="clearfix"></div>
    <fieldset id="submit">
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_save.gif")?>" name="save" value="Save" />
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_save_close.gif")?>" name="save_close" value="Save and Close" />
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_cancel.gif")?>" name="cancel" value="Cancel" />
    </fieldset>
  </div>

</div>
