<script>var content_page_id=<?=$model->id?>;</script>
<h4>Current Permissions</h4>
<?$mod_name = "";$count=0?>
  <?foreach($existing_permissions as $k=>$module):?>
    <?if($count==0){$mod_name = $module->module_name;}?>
    <?if($mod_name != $module->module_name):?>
    <div class="clearfix"></div>
    <?$mod_name = $module->module_name?>
    <?endif?>
    <div class="permission_tag permission_list_tag" id="tag_<?=$module->primval?>">
      <?=$module->module_name." (".$module->operation.")"?>
      <span class="trash_sect">
        <?=image_asset("cms", "trash.gif", array("id"=>"delete_permission_button_{$module->primval}", "class"=>"permission_trash_button "))?>
      </span>
    </div>
    <?$count++?>
  <?endforeach?>
  <?if(count($existing_permissions) == 0):?><p>No permissions - <strong>this user has access to everything!</strong></p><?endif?>
<div class="clearfix"></div>