<fieldset>
	<?=form_heading("Subscriber Details")?>
  <?=medium(text_field($model, "name"))?>
  <?=small(select($model, "status", $model->status_options))?>
  <?=form_divider()?>	
  <?=medium(text_field($model, "email"))?>
	<?=small(select($model, "handle", $model->handle_options(), array(), "Subscribed to" ))?>
	<?=form_divider()?>
	<?=medium(text_field($model, "extra1", array(), "Extra Info 1"))?>
	<?=form_divider()?>
	<?=medium(text_field($model, "extra2", array(), "Extra Info 2"))?>
	<?=form_divider()?>	
  <?=small(submit_field($model, "Save"))?>
  <?=form_divider()?>
  <?=link_to("cancel", array("action"=>"index"))?>
</fieldset>

<?=$link_partial?>
