<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<?=stylesheet_link_tag('cms-stylesheet.css')?>
	<?=stylesheet_link_tag('form-layout')?>
	<title>Webxpress Administration Console</title>
	<?=javascript_include_tag("defaults")?>
	<?=javascript_include_tag("lightbox")?>
	<?=javascript_include_tag("editors/simple/widgEditor")?>
</head>
<body>
  <?=$content_for_layout?>
  <?=javascript_tag("page_setup()")?>
</body>
</html>