<div class='language-list clearfix'>
  <?foreach(CMSApplication::$languages as $i=>$lang):?>
  <?
  $master = ($master = $model->revision())?$master:$model->primval;
  $revision = ($i != $model->language)? 0: $master;
  ?>
  <div class='clearfix'>
    <div class='clearfix headers'>
    <a href='/<?=trim($controller,"/")?>/copy/?source=<?=$model->primval?>&amp;change[language]=<?=$i?>&amp;change[status]=0&amp;change[revision]=<?=$revision?>&amp;change[alt_language]=<?=(($master->language != $i)?$master:0)?>' class='button create create-<?=get_class($model)?> create-lang create-lang<?=$i?>'>CREATE NEW <?=$lang['name']?> VERSION</a>
    <h3><?=ucwords($lang['name'])?></h3>
    </div>
    <?
    $class = get_class($model);
    $group = new $class;
    $cms_content = $group->filter("permalink", $model->permalink)->filter("language", $i)->order("date_modified DESC")->limit($limit_revisions)->all();
    ?>
    <?=partial(trim($controller,"/")."/_list", array('no_filter'=>true,'primval'=>$model->primval, 'controller'=>$controller, 'cms_content'=>$cms_content, 'scaffold_columns'=>$scaffold_columns, 'current_user'=>$current_user, 'operation_actions'=>$operation_actions, 'show_unfiltered_results'=>true))?>
  </div>
  <?endforeach?>

</div>