<div id="category_browser_container">
  <div id="category_browser" class="clearfix">
	  <div id="drag_indicator">  
	    <h4>Drag Categories Here</h4>
	    <?=image_asset("cms", "drag_pointer.gif")?>
	  </div>
    <div id="filter_block">
        <label for="new_cat">Make a new category</label><br />
        <input type="text" value="" name="new_cat" id="new_cat" />
        <a href="#" id="new_cat_create">Create</a>
    </div>
    <div id="cat_dropzone">
      <?=$cat_partial?>
    </div>
    <div id="category_list">
      <?=$cat_list?>
    </div>
    
  </div>
</div>
