<div id="link_browser_container">
  <h3>1. Enter an internet url</h3>
  <p><a href="javascript:void(0)" onclick="cms_insert_url('web');">Click Here</a></p>
  <?if(count($all_links)):?>
  <h3>2. Link to one of your files</h3>
    <p>
      <label for="link_file">Select a file</label><br />
      <select id="link_file">
        <?foreach($all_links as $link):?>
          <option value="<?=$link->filename?>"><?=$link->filename?></option>
        <?endforeach?>
      </select> <button onclick="cms_insert_url('/files/' + document.getElementById('link_file').value); return false;">Insert</button>
    </p>
  <?endif?>
  
</div>
<?=javascript_asset("yui", "container-min")?>
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/dragdrop/dragdrop-min.js"></script>
<?=yui_container("link_browser_container")?>
<script type="text/javascript">
function cms_insert_url(type) {
  if(type=='web') {
    var theURL = prompt("Enter the URL for this link:", "http://");
  } else var theURL = type;
  if (theURL != null) {			
		theIframe.contentWindow.document.execCommand("CreateLink", false, theURL);
		theWidgEditor.theToolbar.setState("Link", "on");
		YAHOO.cms.container.link_browser_container.hide();
	}
}
</script>