<div id="category_browser_container">
  <?if(count($all_categories)):?>
    <form action="" method="post" class="form_container" id="categorise">
      <fieldset>
        <?=form_heading("Choose from the categories listed below")?>
        <?foreach($all_categories as $category):?>
          <?
            $switch=false;
            foreach($attached_categories as $attached) {
              if($attached->id == $category->id) $switch=true;
            }
          ?>
            <?if($switch):?>
              <?=large(check_box_tag($category->name, $category->id, true))?>
            <?else:?>
              <?=large(check_box_tag($category->name, $category->id, false))?>
            <?endif?>
        <?endforeach?>
        <?=submit_to_remote("commit", "Update categories", array(
          "url"=>array("action"=>"set_categories", "id"=>$page->id),
          "complete"=>"cat_message()"      
        ));
        ?>
        <div id="message"></div>
      </fieldset>
    </form>
  <?else:?>
    <p>No categories setup yet</p>
  <?endif?>
  
</div>
<?=javascript_asset("yui", "container-min")?>
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.0/build/dragdrop/dragdrop-min.js"></script>
<?=yui_container("category_browser_container")?>
<?=javascript_tag('widgToolbarItems.push("categoryattach")')?>
<script type="text/javascript">
YAHOO.util.Event.addListener(window, "load", function(){YAHOO.cms.container.category_browser_container.show();YAHOO.cms.container.category_browser_container.hide();});

  function cat_message() {
    $('message').update('<p id="inserted">Categories updated</p>');
    new Effect.Fade("inserted", {delay:2});
  }
</script>
