<?if($current_user->allowed("home", "search")):?>
<form id="search_form" action="/admin/home/search" method="post" class='ajax-post' data-replace-html="#search_results">
  <input type='text' value="" placeholder="QUICK CONTENT SEARCH" class='input_field text_field'>
  <div id="search_results"></div>
</form>
<?endif?>



<?foreach($quick_links as $name=>$link):?>
<a href='<?=$link?>' title='create a new page' class='button orange content-create'><span><?=strtoupper($name)?></span></a>
<?endforeach?>

