<div class="category_browser_container">
  <div class="category_browser clearfix">
    <div id="filter_block">
			<?if($inline_category_create_allowed):?>
      <input type="text" id="category_filter" name="filter" size="20" value="Filter" />
      <label for="new_cat">Make a new <?=$category_join_field?></label><br />
      <input type="text" value="" name="new_cat" id="new_cat" />
      <a href="#" id="new_cat_create">Create</a>
      <?else:?>
      <div class='empty_space'>&nbsp;</div>
			<?endif?>
    </div>
    
    <div class="category_list clearfix">
      <?=partial("_cat_list", $this)?>      
    </div>
    
    <div class="cat_dropzone">
      <?=partial("_list_categories", $this)?>      
    </div>
    
  </div>
</div>

