<!--[if IE]>
    <script>
      var jquery_loaded = false;
      var jqtest = setTimeout("jquery_loaded",10);
      function jquery_loaded() {
        if(jquery_loaded) {clearTimeout(jqtest);return true;}
        if(typeof jQuery !="undefined") {
					alert("JQuery Loaded");
          jquery_loaded = true;
          $.getScript("http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js");
          $.getScript("/javascripts/wildfire-plugins/chromeframe.js");
          $.chromeframebar({icons_path:"/images/wildfire/icons/",force:true});
        }
      }
    </script>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
<![endif]-->