<!--[if IE]>
    <script>
      var jquery_loaded = false;
      var jqtest = setInterval("jquery_load_check()",10);
      function jquery_load_check() {
        if(jquery_loaded) {clearInterval(jqtest);return true;}
        if(typeof jQuery =="function") {
          jquery_loaded = true;
					$(document).ready(function() {
						$.getScript("http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js",function(){
							$.getScript("/javascripts/wildfire-plugins/chromeframe.js",function(){
								$.chromeframebar({icons_path:"/images/wildfire/icons/",force:true});
							});
						});	          
					});
        }
      }
    </script>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
<![endif]-->