<input type="hidden" name="joins[files][0]" value="0">
<?foreach($model->files as $i=>$file):?>
  <?
  $info = $model->file_meta_get($file->primval);
  ?>
<div class='joined-file clearfix f<?=$file->primval?>'>
  <div class="image_wrap">
    <?if(strstr($file->type, "image")):?><img src="<?=$file->permalink(150)?>" alt="<?=$file->filename?>" title="<?=$file->filename?>"><?endif?>
  </div>
  
  <p><a href="<?=$file->url()?>"><?=$file->filename?></a></p>
  <input type="checkbox" name="joins[files][<?=$file->primval?>][id]" value="<?=$file->primval?>" id="join_file_<?=$file->primval?>" class="checkbox_field joined_field" checked="checked">
  <label for="join_file_<?=$file->primval?>"><?=$file->filename?></label>
  <div class='tag_options clearfix t_<?=$info->tag?> o_<?=$info->join_order?>'>
    <input type="hidden" name="<?=$field_prefix = str_replace("%s", $file->id, $model->columns['files'][1]['input_pattern'])?>[join_order]" value="<?=$i?>" class='join-order-field'>
    <?foreach($file_tags as $i=>$tag):?>
    <div class='clearfix tag_<?=$i?>'>
      <input type="radio" name="<?=$field_prefix?>[tag]" value="<?=$tag?>" id="tf_<?=$file->primval?>_<?=$i?>" class="radio_field"<?if((!$info->tag && $i==0) || ($tag == $info->tag)):?> checked="checked"<?endif?> >
      <label for="tf_<?=$file->primval?>_<?=$i?>"><?=$tag?></label>
    </div>
    <?endforeach?>
    <div class='join_title'>
      <input type='text' name='<?=$field_prefix?>[title]' value='<?=$info->title?>' placeholder='caption'>
    </div>
  </div>
</div>
<?endforeach?>

<script type="text/javascript" charset="utf-8">
var file_tags = <?=json_encode($file_tags);?>;
</script>