<div class='files file-listing clearfix pattern-source' data-input-pattern="<?=$model->columns['files'][1]['input_pattern']?>">
  <div class='info clearfix'>
    <div class='file-info clearfix'></div>
    <?=partial("_upload", array('controller'=>$controller, 'file_system_base'=>$file_system_base, 'model'=>$model))?>
  </div>
  
  <?=partial("_file_tree", array('file_system_base'=>$file_system_base, 'controller'=>$controller, 'model'=>$model))?>
  
</div>
<div class='existing-files clearfix pattern-source' id="existing-files" data-dest="/<?=trim($controller,"/")?>/_existing_files/<?=$model->primval?>" data-input-pattern="<?=$model->columns['files'][1]['input_pattern']?>">
  <?=partial("_existing_files",array('model'=>$model))?>
</div>