<?if($show_form !== false):?><form action="/admin/<?=$module_name?>/" method="post" id="filters" class='clearfix filters filters-<?=$module_name?> filters_<?=count($filter_fields)?>'><?endif?>

<fieldset class='filters_container' id="filters_container" data-replace=".data_table" data-action="/admin/<?=$module_name?>/_list.ajax?show_cols=1">
  <?foreach($filter_fields as $name=>$field):?>
  <?if($field['editable'] !== false):?>
  <?=partial($field['partial'], array('module_name'=>$module_name, 'field'=>$field, 'name'=>$name, 'data'=>$data, 'model'=>$model, 'model_class'=>$model_class, 'model_scope'=>$model_scope, 'model_filters'=>$model_filters))?>
  <?endif?>
  <?endforeach?>
</fieldset>
<?if($show_form !== false):?></form><?endif?>