<?
$base = new $model_class("live");
$col = $field['columns'][0];
?>
<div class='parent_filter' data-class="<?=get_class($base)?>">
  <label for="filters_<?=$name?>"><?=$col?>:</label>
  <select name="filters[<?=$name?>]" id="filters_<?=$name?>">
    <option value=''>-- Any <?=$name?> --</option>
    <?foreach($base->group($col)->all() as $node):?>
      <option value='<?=$node->$col?>' <?if($model_filters[$name] == $node->$col):?> selected="selected"<?endif?>><?=$node->$col?></option>  
    <?endforeach?>
  </select>
</div>