<div id="image_browser_container">

  <div id="image_browser" class="clearfix">
    <div id="filter_block">
      <input type="text" id="image_filter" name="filter" size="20" value="Filter" />
      <span id="image_filter_folder">
        &nbsp;<?=select($image_model, "new_folder", $image_model->folder_options, array("id"=>"image_folder"), "Choose a folder")?>
        &nbsp;<a href="#" id="quick_upload_button">Upload Images</a>
        &nbsp;&nbsp;<a href="#" id="upload_url_button">Upload From URL</a>
      </span>
    </div>    
    
    <div id="image_list"></div>
    <div class="ui-resizable-handle ui-resizable-s" id="imageresizehandle"></div>
    <div id="drop_zones" class="clearfix">
        <?=partial("_content_images", $this)?>
    </div>
    
  </div>
  
</div>
<div id="quick_upload_pane"></div>
<div id="upload_url_pane"></div>
