<?
$cachelink = Config::get('cacheissue');
$permissions = $current_user->permissions($operation_actions, $module_name);
if(($tc = get_class($model)) && ($pid = $current_user->restricted_tree($tc))){
  if(!$pid[1]) $pid[1] = "parent_id";
  if($pid[0]){
    $ids = explode(",", $pid[0]);
    $cms_content->filter($pid[1], $ids);
  }
  $cms_content = $cms_content->all();
}
?>
<?if(!$show_unfiltered_results && $tree_layout):?>
<table class='data_table empty_data_table' data-action="/<?=trim($controller,"/")?>/_list">
</table>
<?elseif($cms_content && $scaffold_columns):?>
<table class='data_table<?if($uploads && $preview_hover):?> preview-hover <?elseif($uploads && $preview_click):?> preview-click <?endif?>' data-action="/<?=trim($controller,"/")?>/_list">
  <thead>
    <tr>
    <?foreach($scaffold_columns as $col=>$info):?>
    <th class='<?=Inflections::underscore($col)?>'><span><?if($model->columns[$col][1]['label']):?><?=$model->columns[$col][1]['label']?><?else:?><?=Inflections::humanize($col)?><?endif?></span></th>
    <?endforeach?>
    <th class='operations'></th>
    </tr>
  </thead>
  <tbody>
  <?foreach($cms_content as $i=>$row):?>
  <tr data-media="<?if($row->columns['media_class']):?><?=strtolower($row->media_class)?><?endif?>" class='row <?if($row->columns['status']):?>row_status<?=$row->status?><?endif?> row_<?=($i%2)?> <?=(($primval && $row->primval == $primval)?"active":"")?>' id="row_<?=$row->primval?>" data-model-id="<?=$row->primval?>" data-sort-url="/<?=trim($controller,"/")?>/sort/<?=$node->parent_id?>" data-add-child-url="/<?=trim($controller,"/")?>/create/?<?=$row->table?>[parent_id]=<?=$row->revision?$row->find_master()->primval:$row->primval?>"
    <?foreach($row->columns as $col_name => $col):?>
      <?if($col[1]['info_preview']):?>
        <?$value = ((method_exists($row, "humanize"))?$row->humanize($col_name):$row->$col_name());?>
        data-<?=$col_name?>="<?=$value?>"
      <?endif?>
    <?endforeach?>
  >
    <?foreach($scaffold_columns as $col=>$info):?>
    <?$value = ((method_exists($row, "humanize"))?$row->humanize($col):$row->$col());?>
    <td class='<?=$col?> <?=Inflections::to_url($value)?>'><?if($permissions['edit']):?><a href="/<?=trim($controller,"/")?>/edit/<?=$row->primval?>/<?=(($cachelink)?"?rl=".rand():"")?>" class='link <?=$col?>_link'><?endif?><span><?=$value?></span><?if($permissions['edit']):?></a><?endif?></td>
    <?endforeach?>
    <td class='operations'>
      <?=partial("_operations", array("current_user"=>$current_user,"permissions"=>$permissions, "controller"=>$controller, "action"=>$action, "row"=>$row, "cachelink"=>$cachelink))?>
    </td>
  </tr>
  <?endforeach?>
  </tbody>
</table>
<?else:?>
<table class='data_table' data-action="/<?=trim($controller,"/")?>/_list">
  <tr><td>No data</td></tr>
</table>
<?endif?>