<?foreach($all_rows as $row):?>
    <tr id="row-<?=$row->id?>">
      <?foreach($scaffold_columns as $column=>$params):?>
        <td class="column">
          <?if($params["link"] && $current_user->access($module_name,"edit")):?> 
            <a href="edit/<?=$row->id?>"><?=$row->$column?></a>
          <?else:?>
          <?=$row->$column?>
          <?endif;?>
        </td>
      <?endforeach?>
      <td class="column">
        <?if($current_user->access($module_name,"edit")):?>
        <div class="generic_button"><a href="edit/<?=$row->id?>">Edit</a></div>
        <?endif?>
        <?if($current_user->access($module_name,"delete")):?>
        <div class="generic_button"><?=link_to("Delete", array("action"=>"delete", "id"=>$row->id), array("confirm"=> "Are you sure you want to do that?"))?></div>
        <?endif?>
      </td>
    </tr>
<?endforeach?>