<?$current_row = 1?>
<?foreach($all_rows as $row):?>
  <?$current_row = 1 - $current_row?>
    <tr id="row-<?=$row->id?>" class="item_row<?=$current_row?>">

      <?foreach($scaffold_columns as $column=>$params):?>
        <td class="column">
          <?if($params["link"]):?> <?=link_to($row->$column, array("action"=>"edit", "id"=>$row->id))?>
          <?else:?>
          <?=$row->$column?>
          <?endif;?>
        </td>
      <?endforeach?>
      <td class="column">
        <?=link_to(image_asset("cms","button_edit.gif"), array("action"=>"edit", "id"=>$row->id))?> 
        <?=link_to(image_asset("cms", "button_delete.gif"), array("action"=>"delete", "id"=>$row->id), array("confirm"=> "Are you sure you want to do that?"))?>
      </td>
    </tr>
<?endforeach?>