<script>var content_page_id=<?=$model->id?>;</script>
<h4>Selected Sections</h4>
  <?foreach($model->allowed_sections as $section):?>
    <div class="section_tag section_list_tag" id="tag_<?=$section->id?>">
      <?=$section->title?>
      <span class="trash_sect">
        <?=image_asset("cms", "trash.gif", array("id"=>"delete_section_button$section->id", "class"=>"section_trash_button"))?>
      </span>
    </div>
  <?endforeach?>
  <?if(count($model->allowed_sections) == 0):?><p>No sections selected - drag and drop to add!</p><?endif?>
<div class="clearfix"></div>