<?
  //use first field, this partial is intended for just 1 field anyway
  $field_data = reset($fields);
  $field = key($fields);
?>
<div class='files file-listing media-listing clearfix' data-field="<?=$field?>" data-new-join-url="/<?=$controller?>/_existing_media">
  
  <div class='upload_block'>
    <?=partial("_media_preview");?>
    <?=partial("_upload_block", array('controller'=>$controller));?>   
  </div>
  <!-- START FILTERS -->
  <div class='filter-block-and-listing index_container '>
    <div class='clearfix filters_pagination filters'>      
      <?=partial("admin/$field_data->module/_filter_block", array('set_show_form'=>false));?>
    </div>
    <div class='listing preview-click' id="data-listing"><table class='data_table'></table></div>
  </div>
  <!-- END FILTERS -->
</div>
<div class='existing-files clearfix' data-field="<?=$field?>">


  <input type="hidden" name="joins[<?=$field?>][0]" value="0" class='default_value_to_unset_join'>
  <?foreach($model->$field as $i=>$media):?>
    <?=partial("_existing_media",array('media'=>$media, 'field'=>$field, 'extra_fields_view'=>$field_data->extra_fields_view))?>
  <?endforeach?>

  <script type="text/javascript" charset="utf-8">
  var file_tags = <?=json_encode($file_tags);?>;
  </script>


  
</div>