<input type="hidden" name="joins[<?=$field?>][<?=$media->primval?>][extra_fields][join_order]" value="<?=$media->join_order?>" class='join-order-field'>
<?foreach($file_tags as $j=>$tag):?>
<div class='clearfix tag_<?=$j?>'>
  <input type="radio" name="joins[<?=$field?>][<?=$media->primval?>][extra_fields][tag]" value="<?=$tag?>" id="tf_<?=$field?>_<?=$media->primval?>_<?=$j?>" class="radio_field" <?if((!$media->tag && $j==0) || ($tag == $media->tag)):?> checked="checked"<?endif?>>
  <label for="tf_<?=$field?>_<?=$media->primval?>_<?=$j?>"><?=$tag?></label>
</div>
<?endforeach?>
<div class='join_title'>
  <input type='text' name='joins[<?=$field?>][<?=$media->primval?>][extra_fields][title]' value='<?=$media->title?>' placeholder='caption'>
</div>
