<?
  //use first field, this partial is intended for just 1 field anyway
  $field_data = reset($fields);
  $field = key($fields);
?>
<div class='files file-listing media-listing clearfix' data-field="<?=$field?>" data-new-join-url="/<?=$controller?>/_existing_media">

  <div class='upload_block'>
    <?=partial("_media_preview");?>
    <?=partial("_upload_block", array('controller'=>$controller));?>
  </div>
  <!-- START FILTERS -->
  <div class='filter-block-and-listing index_container ' data-fdm="<?=$field_data->module?>">
    <div class='clearfix filters_pagination filters'>
      <?=partial("admin/$field_data->module/_filter_block", array('set_show_form'=>false, 'module_name'=>(($alt_module) ? $alt_module : "media") ));?>
    </div>
    <div class='listing preview-click' id="data-listing"><table class='data_table'></table></div>
  </div>
  <!-- END FILTERS -->
</div>
<?=partial($field_data->existing_media_list?$field_data->existing_media_list:"_existing_media_list", array("field"=>$field, "field_data"=>$field_data, "file_tags"=>$file_tags, "media"=>$media, "model"=>$model))?>