<div class='files file-listing media-listing clearfix'>
  
  <div class='upload_block'>
    <?=partial("_media_preview");?>
    <?=partial("_upload_block", array('controller'=>$controller));?>   
  </div>
  <!-- START FILTERS -->
  <div class='filter-block-and-listing index_container '>
    <div class='clearfix filters_pagination filters'>      
      <?=partial("admin/media/_filter_block", array('set_show_form'=>false));?>
    </div>
    <div class='listing preview-click' id="data-listing"><table class='data_table'></table></div>
  </div>
  <!-- END FILTERS -->
</div>
<div class='existing-files clearfix' id="existing-files">
  <?=partial("_existing_media",array('model'=>$model, 'field'=>'media'))?>
</div>