<?
$join_class = $model->columns[$name][1]['target_model'];
$join_model = new $join_class("multipleselect");
$all = $join_model->all();
$model_class = get_class($model);
?>
<?if($all && $all->count()):?>
<div class='field clearfix join multipleselect' data-type="multipleselect" data-origin-class="<?=$model_class?>" data-origin-primval="<?=$model->primval?>" data-destination-class="<?=$join_class?>">
  <h3><?=Inflections::humanize($name, true)?></h3>
  
  <?if($all->count() > 12):?>
  <input type="text" name="inline_filter[<?=$name?>]" data-name="<?=$name?>" data-origin-class="<?=$model_class?>" data-origin-primval="<?=$model->primval?>" data-model-class="<?=$join_class?>" data-filter-destination="/<?=trim($controller,"/")?>/_filter_inline.ajax" class='inline-filter text_field' placeholder="SEARCH">
  <?endif?>
  
  <?=partial("_filter_inline", array("name"=>$name, "filter_type"=>"multipleselect", "search_model"=>$join_model, "origin_model"=>$model), "ajax")?>
</div>
<?endif?>