<div id="image_browser_container">

  <div id="image_browser" class="clearfix">
	  <div id="drag_indicator">  
	    <h4>Drag Images Here</h4>
	    <?=image_asset("cms", "drag_pointer.gif")?>
	  </div>
    <div id="filter_block">
        <input type="text" id="image_filter" name="filter" size="20" onKeyPress="return noenter()" value="Filter" />
        <script>
        $(document).ready(function(event) {
          $("#image_filter").bind("keyup", function() {
            $.ajax({
              type: "post",
              url: "/admin/files/image_filter", 
              data: "filter="+$("#image_filter").val()+"", 
              dataType: "html",
              complete: function(response){ $("#image_list").html(response.responseText);}
            })
          }); 
          $("#image_filter").focus(function(){if($(this).val() =="Filter") {$(this).val('')}; });
        });
      </script>
		
    </div>    
    
    <div id="drop_zones">
      <div id="droppables">
        <?for($i=0; $i<$allowed_images; $i++):?>
          <?$displayed=false?>
          <div id="dropzone<?=$i?>" class="attached_image">
            <?foreach($attached_images as $img):?>
              <?if($img->order==$i):?>
                <img src="/admin/files/show_image/<?=$img->id?>">
                <?=link_to_remote(image_asset("cms","trash.gif"), array(
                  "complete"=> '$("#dropzone'.$i.'").html(response.responseText);',
                  "url"   => url_for(array("action"=>"remove_image", "id"=>$page->id, "image"=>$img->id)),
                ))?>
                <?$displayed=true;?>
              <?endif?>
            <?endforeach?>
            <?if(!$displayed):?>
              <div class="empty_image_dropzone"></div>
            <?endif?>
          </div>
          <script>
          $(document).ready(function() {
            $("#dropzone<?=$i?>").Droppable(
            	{
            	  accept : 'drag_image',
            		hoverclass:	'dropzone_active',
            		tolerance:		'pointer',
            		ondrop:	function (drag) {
            					$.post("/admin/content/add_image/<?=$page->id?>?order=<?=$i?>", 
            					  {id: drag.id},
                        function(response){$("#dropzone<?=$i?>").html(response);}
                      )
            				}
            });
          });
          </script>
        <?endfor?>
      </div>
    </div>
    <div id="image_list">
      
    </div>
    <div class="clearfix"></div>
  </div>
  
  
</div>
<script>
$(document).ready(function() {
  $.ajax({
    url: "/admin/files/browse_images/1/", 
    complete: function(response){$("#image_list").html(response.responseText);}, 
    dataType: "html",
    type: "post"
  })
})
</script>