<div id="image_browser_container">

  <div id="image_browser" class="clearfix">
    <div id="filter_block">
        <strong>Filter images: </strong>(type some text from the filename or caption)<br /> 
        <input type="text" id="image_filter" name="filter" size="20" />
      <?=observe_field("image_filter", array(
        "url" => array("controller"=>"admin/files", "action"=>"image_filter"),
        "frequency" => "1",
        "update"=>"image_list",
        "with"=>"'filter='+value"
      ))?>
    </div>
    <div id="image_list">
      
    </div>
    
    
    <div id="drop_zones">
      <h4>Drop Images Here</h4>
      <div id="droppables">
        <?for($i=0; $i<$allowed_images; $i++):?>
          <?$displayed=false?>
          <div id="dropzone_<?=$i?>" class="attached_image">
            <?foreach($attached_images as $img):?>
              <?if($img->order==$i):?>
                <img src="/admin/files/show_image/<?=$img->id?>">
                <?=link_to_remote(image_tag("/images/cms/trash.gif"), array(
                  "update"=> "dropzone_".$i,
                  "url"   => array("action"=>"remove_image", "id"=>$page->id, "image"=>$img->id)
                ))?>
                <?$displayed=true;?>
              <?endif?>
            <?endforeach?>
            <?if(!$displayed):?>
              <img src="/images/cms/image-drop-zone.gif" />
            <?endif?>
          </div>
          <?=drop_receiving_element("dropzone_".$i, array(
            "update" => "dropzone_".$i,
            "url" => array("action" => "add_image", "id"=>$page->id, "order"=>$i),
            "hoverclass" => "dropzone_active"
          ))?>
        <?endfor?>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  
  
</div>
<?=javascript_tag("new Ajax.Updater('image_list', '/admin/files/browse_images/1/', {evalScripts:true})")?>
<?=yui_container("image_browser_container")?>
<?=javascript_tag('widgToolbarItems.push("imageattach")')?>

