<?if(!$tree):?>
<?
if($master = $model->revision()) $base = new $model_class($master);
else $base = $model->clear();
$depth = 0;
?>
<?endif?>
<?if(!$path_to_root){
  $path = $base->path_to_root();
  $path_to_root = array();
  if($path) foreach($path->rowset as $p) if($p['id'] != $model->primval) $path_to_root[] = $p['id'];
}
if(!$parent_id) $parent_id = 0;
if(!$model_tree && $base){
  foreach($base->tree() as $node) $model_tree[] = $node->primval;
}else if(!$model_tree) $model_tree = array();
?>
<ul class="tree depth-<?=$depth?> parent_<?=$model->parent_id?> content_parent">
  <?if(!$tree):?>
  <li class='branch branch-depth-<?=$depth?><?=(($model->parent_id == 0)?" parent":"")?> tree_children' data-primval="0">
    <div class='field clearfix<?=(($model->parent_id == 0)?" active":"")?>'>
      <input type="radio" id="depth_<?=$depth?>_node_0" class='checkbox node' name="<?=$model->table?>[parent_id]" value="0" <?if($model->parent_id == 0):?>checked="checked"<?endif?>>
      <label for="depth_<?=$depth?>_node_0">No Parent</label>
    </div>
    <?=partial("_parent", array('tree'=>$base->roots(), 'path_to_root'=>$path_to_root, 'base'=>$base, 'model'=>$model, 'depth'=>($depth+1), 'model_tree'=>$model_tree))?>
  </li>
  <?else:?>
    <?foreach($tree as $i=>$branch):?>
      <?if($branch->master()):?>
        <?if($branch->primval == $model->parent_id){$parent = true;}else{$parent = false;}?>
         <?
        $kids=$branch->{$branch->children_column};
        if($kids && $kids->count()) $kids = $kids->scope("parent_list")->all();
        ?>
      <li class='branch branch-depth-<?=$depth?><?=(($parent)?" parent":"")?>' data-primval="<?=$branch->primval?>">
        <div class='field clearfix<?=(($parent)?" active":"")?><?=(($branch->primval == $base->primval)?" self":"")?>'>
          <?if($branch->primval != $base->primval && !in_array($branch->primval, $model_tree)):?>
          <input id="depth_<?=$depth?>_node_<?=$i?>" class='checkbox node' type="radio" name="<?=$model->table?>[parent_id]" value="<?=$branch->primval?>" <?if($model->parent_id == $branch->primval):?>checked="checked"<?endif?>>
          <?endif?>
          <span class='view_children<?=(($kids && $kids->count())?" has-children":"")?>'><a href="/<?=trim($controller,"/")?>/_parent/<?=$branch->primval?>.ajax?base=<?=$base->primval?>&amp;model=<?=$model->primval?>&amp;depth=<?=($depth+1)?>"<?if(in_array($branch->primval, $path_to_root) && $kids):?> class="open fetched"<?endif?>>&nbsp;</a></span>
          <span class="status <?=Inflections::to_url($branch->humanize("status"))?>"><a href="#">&nbsp;</a></span>
          <label for="depth_<?=$depth?>_node_<?=$i?>"><?=(($branch->primval == $base->primval)?" THIS PAGE":$branch->title)?></label>
        </div>
        <?if(in_array($branch->primval, $path_to_root) && $kids):?>
        <?=partial("_parent", array('tree'=>$kids, 'path_to_root'=>$path_to_root, 'base'=>$base, 'model'=>$model, 'depth'=>($depth+1), 'model_tree'=>$model_tree))?>
        <?endif?>
      </li>
      <?endif?>
    <?endforeach?>
  <?endif?>
</ul>


<?if($depth == 0):?>
<div class="tree-issues">
  <div class="ui-widget">
    <div class="ui-state-highlight ui-corner-all">
      <p><span class="ui-icon ui-icon-alert"></span>You cannot set a pages parent to be one of its children.</p>
    </div>
  </div>
</div>
<?endif?>
