<div class='joins joins_<?=count($fields)?> clearfix'>
  <?foreach($fields as $name=>$join):?>
    <?
    $type = "_".str_replace("input", "", Inflections::to_url(get_class($join)));
    $readable = false;
    foreach($partial_paths as $possible){
      if(($path = str_replace("%s%", $type, $possible)) && is_readable($path)){
        $readable = $path;
        break;
      }
    }
    ?>
    <?if($readable):?>      
      <?=partial($type, array('model'=>$model, 'controller'=>$controller, 'join'=>$join, 'name'=>$name))?>
    <?else:?>
      <?=$join->render()?>
    <?endif?>
  <?endforeach?>
</div>