<?
$join_class = $model->columns[$name][1]['target_model'];
$join_model = new $join_class;
$all = $join_model->all();
$existing = array($model->$name->primval);
?>
<?if($all && $all->count()):?>
<div class='field clearfix join select' data-origin-class="<?=get_class($model)?>" data-origin-primval="<?=$model->primval?>" data-destination-class="<?=$join_class?>">
  <h3><?=Inflections::humanize($name, true)?></h3>
  <ul>
    <?foreach($all as $row):?>
    <li class='clearfix join-option join-<?if(in_array($row->primval, $existing)):?>yes<?else:?>no<?endif?>'>
      <input type='hidden' id="<?=$name?>_<?=$row->primval?>_hidden" name='joins[<?=$name?>][0]' value="0">
      <input type='radio' class='boolean' id="<?=$name?>_<?=$row->primval?>" name='joins[<?=$name?>][0]' value="<?=$row->primval?>" <?if(in_array($row->primval, $existing)):?>checked="checked"<?endif?> >
      <label for="<?=$name?>_<?=$row->primval?>"><?=$row->humanize()?></label>
    </li>
    <?endforeach?>
  </ul>
</div>
<?endif?>