<?
  if(!$ignore_cols) $ignore_cols = array();
  if(!$permissions) $permissions = $current_user->permissions($operation_actions, $module_name);
  $tree_model = $tree_model->scope($tree_scope);
  if($model_filters['parent']) $nodes = $tree_model->all();
  else if($load_whole_tree) $nodes = $tree_model->tree();
  else if($scoped) $nodes = $tree_model->scope($scoped)->all();
  else{
    if(($tc = get_class($tree_model)) && ($pid = $current_user->restricted_tree($tc))){
      if(!$pid[1]) $pid[1] = "id";
      $cc = new $tc($tree_scope);
      if($pid[0]){
        $ids = explode(",", $pid[0]);
        $nodes = $cc->filter($pid[1], $ids)->all();
      }
      else $nodes = $tree_model->roots();
    }else $nodes = $tree_model->roots();

  }

?>
<ul class='data_tree' <?=$load_whole_tree?'':"data-action='/".trim($controller,"/")."/_tree'"?> >
  <?if($show_headers):?>
    <li class="tree_headers"><?=Inflections::humanize($tree_model->identifier)?></li>
  <?endif?>
  <?foreach($nodes as $node):?>
    <li class="tree_node tree_depth_<?=$node->get_level();?> clearfix<?=$primval == $node->primval?' active':''?>" data-row-language="<?=$node->language?>" data-row-id="<?=$node->primval?>" data-sort-url="/<?=trim($controller,"/")?>/sort/<?=$node->parent_id?>" data-add-child-url="/<?=trim($controller,"/")?>/create/?<?=$node->table?>[parent_id]=<?=$node->revision?$node->find_master()->primval:$node->primval?>"
      <?foreach($node->columns as $col_name => $col):?>
        <?if($col[1]['info_preview'] && !in_array($col_name, $ignore_cols)):?>
          <?$value = ((method_exists($node, "humanize"))?$node->humanize($col_name):$node->$col_name());?>
          data-<?=$col_name?>="<?=$value?>"
        <?endif?>
      <?endforeach?>
    >
      <?if(!$children_operations || ($children_operations && $node->has_children($tree_scope) )):?>
      <span class="tree_operations">
        <?=partial("_operations", array("permissions"=>$permissions, "controller"=>$controller, "action"=>$action, "row"=>$node, "cachelink"=>$cachelink))?>
      </span>
      <?endif?>
      <?foreach($node->columns as $col_name => $col_data):?>
        <?if($col_data[1]['tree_scaffold']):?>
          <?$value = ((method_exists($node, "humanize"))?$node->humanize($col_name):$node->$col_name());?>
          <span class="tree_col tree_col_<?=$col_name?> <?=Inflections::to_url($value)?>"><?=$value?></span>
        <?endif?>
      <?endforeach?>
      <?if(!$ignore_children && $node->has_children($tree_scope) ):?>
        <a class="ui-icon ui-icon-circle-triangle-e view_children_link <?=$load_whole_tree?'':'ajax_tree_load'?> " href="#"></a>
      <?else:?>
        <span class="ui-icon ui-icon-empty"></span>
      <?endif?>
      <?if($permissions['edit']):?><a href="/<?=trim($controller,"/")?>/edit/<?=$node->primval?>/<?=(($cachelink)?"?rl=".rand():"")?>" class='<?=$col_name?>_link'><?endif?>
      <span class="ui-icon ui-icon-document"></span>
      <?=truncate(ucwords(strtolower($node->{$node->identifier})),50)?>
      <?if($permissions['edit']):?></a><?endif?>
    </li>
  <?endforeach?>
</ul>
