<?if($tree_model instanceof WaxTreeModel):?>
  <?$permissions = $current_user->permissions($operation_actions, $module_name)?>
  <div class='index_container tree_item_details hover_update' data-hover-selector=".tree_node, .row">
    <h3 class='clearfix'>
      <a class="operation hover_el" href="/<?=trim($controller,"/")?>/create/" data-hover-fetch-href="data-add-child-url">Add Child</a>
      <?if($sortable):?><a class="operation hover_el" href="/<?=trim($controller,"/")?>/sort/" data-hover-fetch-href="data-sort-url" >Sort</a><?endif?>
      <?=$mods[$module_name]['display_name']?> Information
    </h3>
    <?=partial("_info", array("row"=>new $model))?>
  </div>
  <div class='index_container tree_list'>
    <h3><?=$mods[$module_name]['display_name']?> Tree</h3>
    <?=partial("_tree_nodes", array("tree_model"=>$tree_model, "permissions"=>$permissions, "controller"=>$controller, "action"=>$action, "row"=>$node, "cachelink"=>$cachelink, "show_headers"=>true))?>
  </div>
<?endif?>
