<div class='index_container clearfix uploading_container'>
  <h3>Upload</h3>
  <div class='data_info'>
      <input type="text" name="category" value="" placeholder="category" class='category_tagging'>
      <div data-allowed-check="/<?=trim($controller, "/")?>/file_check" data-html5-action='/<?=trim($controller,"/")?>/upload/' class='drop-area clearfix'>
        <p><strong>DRAG &amp; DROP HERE TO UPLOAD</strong></p>
      </div>
      <div class='file-list drop-list clearfix'></div>

  </div>
</div>
