<div id="table_dialog">
  <div>
  <form class="form_container">
    <fieldset>
      <input type="hidden" class="wym_dialog_type" value="Table"><legend>Table</legend>
      <div class="large">
        <label>Caption</label>
        <input type="text" class="wym_caption" value="" size="40">
      </div>
      <div class="large">
        <label>Summary</label>
        <input type="text" class="wym_summary" value="" size="40">
      </div>
      <div class="large">
        <label>Number of rows</label>
        <input type="text" class="wym_rows" value="3" size="3">
      </div>
      <div class="large">
        <label>Number of cols</label>
        <input type="text" class="wym_cols" value="2" size="3">
      </div>
      <div class="large row-indent">
        <button id="insert_table_button">Submit</button>
      </div>
    </fieldset>
  </form>
  </div>
</div>