<?
$partial_paths = array(
                      PLUGIN_DIR.$use_plugin."/view/shared/%s%.html",
                      PLUGIN_DIR.$use_plugin."/resources/app/view/shared/%s%.html",
                      PLUGIN_DIR.$use_plugin."/view/".strtoupper($use_plugin).Inflections::camelize(str_replace("/","_",$controller),true)."Controller/%s%.html",
                      PLUGIN_DIR.$use_plugin."/resources/app/view/".$controller."/%s%.html",
                      APP_DIR."view/shared/%s%.html",
                      APP_DIR."view/".$controller."/%s%.html"
                      );
$partial_paths = array_reverse($partial_paths);

$grouping = array();
foreach($form as $k=>$ele) if((($g = $ele->group) || ($g = "Others")) && $ele->editable) $grouping[strtolower($g)][$k] = $ele;

?>
<form action="" class="form_container clearfix" method="post" enctype="multipart/form-data" data-model-class="<?=get_class($model)?>" data-model-primval="<?=$model->primval?>">
  <?if(count($grouping)):?>
    <ul class='tabs clearfix'>
      <?foreach($grouping as $name=>$info):?>
        <?$tabhash = Inflections::to_url($name); $tabid = "tab-".$tabhash;?>
        <li id="<?=$tabid?>"><a href="#<?=$tabhash?>"><?=ucwords($name)?></a></li>
      <?endforeach?>
    </ul>

    <?foreach($grouping as $name=>$fields):?>
      <?$tabhash = Inflections::to_url($name);
        $partial_name = "_".Inflections::underscore(Inflections::to_url($name));
        $readable = false;
        foreach($partial_paths as $possible){
          if(($path = str_replace("%s%", $partial_name, $possible)) && is_readable($path)){
            $readable = $path;
            break;
          }
        }
      ?>

      <?if($readable):?>
        <?=partial($partial_name, array('model'=>$model, 'controller'=>$controller, 'fields'=>$fields))?>
      <?else:?>
        <fieldset class='tab-contents clearfix' id="<?=$tabhash?>" >
          <?foreach($fields as $f):?><?=$f->render()?><?endforeach?>
        </fieldset>
      <?endif?>
    <?endforeach?>

  <?endif?>
</form>