<?
$partial_paths = array(
                      APP_DIR."view/".$controller."/%s%.html",
                      APP_DIR."view/shared/%s%.html"
                      );
foreach((array)Autoloader::view_paths("plugin") as $path){
  $partial_paths[] = $path.strtoupper($use_plugin).Inflections::camelize(str_replace("/","_",$controller),true)."Controller/%s%.html";
  $partial_paths[] = $path."shared/%s%.html";
}

$grouping = array();
$mods = CMSApplication::get_modules();
foreach($form as $k=>$ele) if((($g = $ele->group) || ($g = "details")) && $ele->editable && ($g = strtolower($g)) && ($current_user->allowed($module_name, "tab-".$g)) ) $grouping[$g][$k] = $ele;
WaxEvent::run('cms.edit.grouping', $grouping);
if(($show_group = Request::param('group')) && isset($grouping[$show_group])) $grouping = array($show_group => $grouping[$show_group]);
$counter = 0;
?>
<?=partial("_form_start", $this)?>
  <?if(count($grouping)):?>
    <?=partial("_intro", array('model'=>$model, 'controller'=>$controller, 'autosave'=>$autosave))?>

    <ul class='tabs clearfix'>
      <?$k=0;?>
      <?foreach($grouping as $name=>$info):?>
        <?$tabhash = Inflections::to_url($name); $tabid = "tab-".$tabhash;?>
        <li id="<?=$tabid?>" class='tab-<?=$k?>'><a href="#<?=$tabhash?>"><?=ucwords($name)?></a></li>
        <?$k++;?>
      <?endforeach?>
    </ul>

    <?foreach($grouping as $name=>$fields):?>
      <?$tabhash = Inflections::to_url($name);
        $partial_name = "_".Inflections::underscore(Inflections::to_url($name));
        $readable = false;
        foreach($partial_paths as $possible){
          if(($path = str_replace("%s%", $partial_name, $possible)) && is_readable($path)){
            $readable = $path;
            break;
          }
        }
      ?>
      <fieldset class='tab-contents clearfix <?=$tabhash?>' id="<?=$tabhash?>" >
      <?if($readable):?>
        <?=partial($partial_name, array('tabhash'=>$tabhash, 'model'=>$model, 'controller'=>$controller, 'fields'=>$fields, 'partial_paths'=>$partial_paths, 'scaffold_columns'=>$scaffold_columns, 'current_user'=>$current_user, 'operation_actions'=>$operation_actions, 'file_system_base'=>$file_system_base))?>
      <?else:?>
        <?foreach($fields as $n=>$f):?>
        <?$nm = Inflections::to_url($n)?>
        <?if($f->widget != "HiddenInput"):?><div class='field field-<?=$nm?> field-<?=$tabhash?>-<?=$nm?> <?=$model_class?>-<?=$nm?> clearfix'><?endif?>
        <?=$f->render()?>
        <?if($f->widget != "HiddenInput"):?></div><?endif?>
        <?endforeach?>
      <?endif?>
      </fieldset>

    <?endforeach?>
    <fieldset class='submit'>
    <?=partial("_submit", array('model'=>$model, 'controller'=>$controller, 'model_class'=>$model_class, 'autosave'=>$autosave))?>
    </fieldset>
  <?endif?>
</form>


<?=partial("_dialog_links", array('controller'=>$controller, "file_system_model"=>$file_system_model))?>
<?=partial("_dialog_source_code", array('controller'=>$controller))?>
<?=partial("_dialog_images", $this)?>
<?=partial("_dialog_tables", array('controller'=>$controller))?>
<?=partial("_dialog_templates", array('controller'=>$controller))?>
