<!-- Dependencies --> 
<?=javascript_asset("jquery", "jquery.tablesort")?>

<?=$filter_block_partial?>

<?=paginate_links($all_rows, "2")?>

<table id="item_list_container" class="sortable">
  <thead>
    <tr id ="list_heading">
      <?foreach($scaffold_columns as $column=>$params):?>
        <th class="column"><?=humanize($column)?></th>
      <?endforeach?> 
      <th class="nosortcolumn">Operations</th>
    </tr>
  </thead>
  <tbody id="list_rows">
    <?=$list?> 
  </tbody> 
</table>

<?if(count($all_rows)<1):?>
  No items available
<?endif?>
<?=paginate_links($all_rows, "2")?>

<script>
$(document).ready(function() {
  $("#item_list_container").tableSorter({dateFormat: 'dd/mm/yyyy', highlightClass: 'highlight_col',
      stripingRowClass: ['item_row1','item_row0'],stripeRowsOnStartUp: true});
})
</script>