<table>
  <tr>
    <?foreach($scaffold_columns as $heading):?>
      <th><a href="?order=<?=$heading?>"><?=humanize($heading)?></a></th>
    <?endforeach;?>
      <th>Operations</th>
  </tr>
  <?foreach($all_rows as $row):?>
  <tr>
    <?foreach($scaffold_columns as $column):?>
      <td><?=$row->$column?></td>
    <?endforeach;?>
    <td>
      <?=link_to("Edit", array("action" => "edit", "id" => $row->id))?>
      <?=button_to("Delete", array("action" => "delete", "id" => $row->id), 
      array("confirm" => "Are you sure?", "name" => "delete"))?>
    </td>
    
  </tr>
  <?endforeach;?>
</table>
