<div class="related_holder">
  <div class="filter_block" class="clearfix">
    <?=$related_form->title->render()?>
    <ul class="live_search_results"></ul>
    <?=$related_form->url->render()?>
    <?=$related_form->desc->render()?>
    <input type="hidden" id="cms_related_source_model" value="<?=get_class($model)?>" name="cms_related[source_model]"/>
    <input type="hidden" id="cms_related_source_id" value="<?=$model->primval()?>" name="cms_related[source_id]"/>
    <input type="hidden" id="cms_related_dest_model" value="" name="cms_related[dest_model]"/>
    <input type="hidden" id="cms_related_dest_id" value="" name="cms_related[dest_id]"/>
    <div class="generic_button add_related_button"><a class="add_related" href="/admin/related/create">Add</a></div>
  </div>
  <div class="related_list">
    <?=partial("admin/related/_list_table", array("all_rows"=>CmsRelated::fetch($model)->order("links_order")->all()))?>
  </div>
</div>