<?if($current_user->allowed($module_name, "sort")):?>
  <?
  $model_filters = array();
  if($model->primval && $tree_layout){
    $model_filters['parent'] = $model->primval;
    $model = $model->scope($sort_scope)->filter("parent_id", $model->primval);
  }elseif($tree_layout) $model->filter("parent_id", 0)->scope($sort_scope);
  else $model->scope($sort_scope);

  ?>

  <?$mods = CMSApplication::get_modules()?>
  <div class='index_container <?=$sort_scope?>'>

    <div class='listing sortable-tree' id="data-listing" data-sort-action="/<?=$controller?>/<?=$action?>/.ajax">
      <h3>Sorting<?if($model->primval):?> children of <a href="/<?=$controller?>/<?=$action?>/<?if($model->parent_id):?><?=$model->parent_id?><?endif?>" class='link'>"<?=$model->title?>"</a><?endif?></h3>
      <?=partial("_tree_nodes", array("ignore_cols"=>array("status"), "children_operations"=>true, "model_filters"=>$model_filters, "scoped"=>$sort_scope, "ignore_children"=>true, "load_whole_tree"=>false, "tree_model"=>$model, "permissions"=>array('sort'=>'sort children'), "controller"=>$controller, "action"=>$action, "cachelink"=>$cachelink, "show_headers"=>true))?>
    </div>


  </div>


<?endif?>