<div id="extra_content" class="clearfix">
  <?foreach($extra_content as $content):?>
    <?if(is_array($opts = $extra_content_options[$content])):?>
      <?switch($opts['type']) {
        case "text_field": 
          echo large(text_field($model->extra_content($content), $content, array("value"=>stripslashes($model->extra_content_value($content))), humanize($content)));
          break;
        case "wysiwyg":
          echo large(simple_wysiwyg($model->extra_content($content), $content, array("value"=>stripslashes($model->extra_content_value($content))), humanize($content)));;
          break;
        case "radiogroup":
          echo '<div class="large"><label>Rating</label>';
          echo "<!--".$model->extra_content_value($content)." -->";
          foreach($opts["choices"] as $choice) {
            echo "<!-- $choice -->"
            if($model->extra_content_value($content)===$choice) $options = array("checked"=>"checked", "class"=>"rating");
            else $options = array("class"=>"rating");
            echo radio_button($model->extra_content($content), $content, $choice, $options, false);
            echo $choice;
            echo "&nbsp;&nbsp;&nbsp;&nbsp;";
          }
          echo '</div>';
          break;
      }?>
    <?else:?>
    <?=large(text_area($model->extra_content($content), $content, array("rows"=>"3", "value"=>stripslashes($model->extra_content_value($content))), humanize($content)))?>
    <hr />
    <?endif?>
  <?endforeach?>
</div>