<div id="filter_block" class="clearfix">
	<div class="filter-item">
  	<form id="filter_form" action="">
	    <strong>Filter:</strong> <input type="text" id="filter_field" name="filter" />
	  </form>
	   <?$url_for = url_for(array("action"=>"filter"))?>
  	  
  	  <script>
      $(document).ready(function(event) {
        $("#filter_field").keyup(function() {
          $.post("<?=$url_for?>",
            {filter: $("#filter_field").val()}, 
            function(response){ $("#list_rows").html(response);}
          );
        }); 
      });
    </script>
	</div>
	<div id="section_filter">
    <form action="" name="section_browser">
      <strong>View by section: </strong>
      <select name="section_view" onchange="location.href=section_browser.section_view.options[selectedIndex].value">
        <option value="/admin/content/">All sections</option>
        <?foreach($model->sections as $section):?>
					<?
					$tmp = str_pad("", $section->get_level()-1, "*", STR_PAD_LEFT);
					$tmp = str_replace("*", "&nbsp;&nbsp;", $tmp);
					?>
          <option value="/admin/content/<?=$section->url?>"><?=$tmp.$section->title?></option>
        <?endforeach?>
      </select>
    </form>
  </div>
</div>