<div id="filter_block">
	<div class="filter-item">
  	<form id="filter_form" action="">
	    <strong>Filter:</strong> <input type="text" id="filter_field" name="filter" />
	  </form>
	  <?=observe_field("filter_field", array(
	    "url" => array("action"=>"filter"),
	    "evalScripts"=>true,
	    "frequency" => "1",
	    "update"=>"list_rows",
	    "with"=>"'filter='+value"
	  ))?>
	</div>
	<div id="section filter">
    <strong>View by section: </strong><br />
    <form action="" name="section_browser">
      <select name="section_view" onchange="location.href=section_browser.section_view.options[selectedIndex].value">
        <option value="/admin/content/">All sections</option>
        <?foreach($model->sections as $section):?>
          <option value="/admin/content/<?=$section->url?>"><?=$section->title?></option>
        <?endforeach?>
      </select>
    </form>
  </div>
</div>