<script type="text/javascript">
var content_page_id = <?=$model->id?>; 
var model_string = "<?=get_class($model)?>";
var join_field="images";
var content_permalink="<?=$model->permalink?>";
</script>

  <div id="container">
    <div id="quicksave">
      <a href="#" id="autosave_disable"><img src="/images/cms/autosave_disable.gif" title="Disable AutoSave" /></a>
      <a href="#" id="autosave"><img src="/images/cms/cms_quick_save.gif" title="Quick Save" /></a>
      <span id="autosave_status">Autosave Running</span>
    </div>
    <ul class="tabs-nav">
      <li class="tab_editable_title"><a href="#section-1">
        <div id="content_title" class="clearfix editable">
          <span id="content_title_edit">
            
          </span>
          <span id="content_title_label"><?=$model->title?></span>
        </div>
        <?=hidden_field($model, "title", array())?>
      </a></li>
      <li><a href="#section-2" id="image_tab_link">Add Image(s)</a></li>
      <?if(CmsApplication::is_registered('categories') && $allowed_categories):?>
        <li><a href="#section-3" id="cat_tab_link">Add Categories</a></li>
      <?endif?>
      <li><a href="#section-4" id="more_tab_link">More Options</a></li>
      
    </ul>
    
  <div id="content_window" class="clearfix">
    <div id="content_editor" class="clearfix">
      <div id="section-1" class="tabs-container">
        <fieldset id="wysiwyg">
          <?=large(text_area($model, "content", array("class"=>"jqwysi"), false))?>
        </fieldset>
        <div class="ui-resizable-handle ui-resizable-s" id="resizehandle"></div>
        <fieldset class="content_options">	
    			<?$section = new CmsSection?>
          <?=small(select($model, "cms_section_id", options_from_collection($section->tree(), "id", "title", null, "&nbsp;&nbsp;"), array(), "Choose a section" ))?>
          <?=small(select($model, "status", $model->status_options))?>
        </fieldset>
      </div>
      <div id="section-2" class="tabs-container">
        <?if($allowed_images):?>
          <?=$image_partial?>
        <?else:?><p>Images disabled</p>
        <?endif?>
      </div>
      <?if(CmsApplication::is_registered('categories') && $allowed_categories):?>
      <div id="section-3" class="tabs-container">
        <?if($allowed_categories):?>
          <?=$category_partial?>
        <?else:?><p>Categories disabled</p>
        <?endif?>
      </div>
      <?endif?>
      <div id="section-4" class="tabs-container">
        <fieldset class="content_options">
          <?=medium(datetime_select($model, "published", array(), "Date to be published"))?>
          <?=medium(datetime_select($model, "expires", array(), "Date article expires"))?>
          <hr />
      	  <?if($edit_author):?>
      	    <?=small(select($model, "author_id", $model->author_options, array(), "Author"))?>
      	  <?endif?>
      	  <hr />
      	  <?if(count($extra_content)):?>
            <?=$extra_content_partial?>
          <?endif?>
        </fieldset>
      </div>
    </div>
  
    
    <div class="clearfix" id="autosaver"></div>
    <fieldset id="submit">
      <input type="image" class="generic_button wymupdate" src="<?=serve_asset("images", "cms", "button_save.gif")?>" name="save" value="Save" />
      <input type="image" class="generic_button wymupdate" src="<?=serve_asset("images", "cms", "button_publish.gif")?>" name="publish" value="Publish" />
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_close.gif")?>" name="close" value="Close" />
      <a href="<?=$this->model->permalink?>?preview=1" target="_blank"><img class="generic_button" src="<?=serve_asset("images", "cms", "button_preview.gif")?>" /></a>
    </fieldset>
  </div>
  
</div>

<?=$link_partial?>
<?=$video_partial?>
<?=$table_partial?>
