<?=javascript_asset("jquery","jquery.tabs.min")?>
<?=stylesheet_asset("jquery", "jquery.tabs")?>
<!--[if lte IE 7]>
  <?=stylesheet_asset("jquery", "jquery.tabs-ie")?>
<![endif]-->
<?=javascript_asset("cms","cms_content")?>


  <div id="container">
    <ul class="tabs-nav">
      <li><a href="#section-1">Editing Page: <strong id="page_tab_title">...</strong></a></li>
      <li><a href="#section-2">Add Image(s)</a></li>
      <?if(CmsApplication::is_registered('categories')):?>
      <li><a href="#section-3">Add Categories</a></li>
      <?endif?>
      <?if(count($extra_content)):?><li><a href="#section-4">Extra Content</a></li><?endif?>
    </ul>
    
  <div id="content_window" class="clearfix">
    <div id="content_editor">
      <div id="section-1" class="tabs-container">
        <fieldset id="wysiwyg">
          <?=large(simple_wysiwyg($model, "content", array(), false))?>
        </fieldset>
      </div>
      <div id="section-2" class="tabs-container">
        <?if($allowed_images):?>
          <?=$image_partial?>
        <?else:?><p>Images disabled</p>
        <?endif?>
      </div>
      <?if(CmsApplication::is_registered('categories')):?>
      <div id="section-3" class="tabs-container">
        <?if($allowed_categories):?>
          <?=$category_partial?>
        <?else:?><p>Categories disabled</p>
        <?endif?>
      </div>
      <?endif?>
      <?if(count($extra_content)):?>
        <div id="section-4" class="tabs-container">
          <?=$extra_content_partial?>
        </div>
      <?endif?>
    </div>
  
    <fieldset id="content_options">
      <?=large(text_field($model, "title"))?>
      <?=form_divider()?>
      <?=large(select($model, "cms_section_id", options_from_collection($model->sections, "id", "title"), array(), "Choose a section" ))?>
      <?=form_divider()?>
      <?=large(select($model, "status", $model->status_options))?>
    	<?=form_divider()?>
    	<?=large(date_select($model, "published", array(), "Date to be published"))?>
    	<?=form_divider()?>
    </fieldset>
    <div class="clearfix"></div>
    <fieldset id="submit">
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_save.gif")?>" name="save" value="Save" />
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_save_close.gif")?>" name="save_close" value="Save and close" />
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_cancel.gif")?>" name="cancel" value="Cancel" onclick="return confirm('Any changes will be lost')" />
      <a href="#" id="preview_link"><img class="generic_button" src="<?=serve_asset("images", "cms", "button_preview.gif")?>" /></a>
    </fieldset>
  </div>
  
</div>

<?=preview_window($page->permalink, "preview_link", "preview_pane")?>

<?=$link_partial?>
