<fieldset>
	<?=form_heading("Content Editor")?>
  <?=medium(text_field($model, "title"))?>
  <?=small(select($model, "cms_section_id", options_from_collection($model->sections, "id", "title"), array(), "Choose a section" ))?>
  <?=small(select($model, "status", $model->status_options))?>
  <?=form_divider()?>
	<?=medium(date_select($model, "published", array(), "Date to be published"))?>
  <?=form_divider()?>
  <?=large(simple_wysiwyg($model, "content"))?>
	<?=form_divider()?>
  <button type="submit" class="generic_button" name="save" value="save"><span>Save</span></button>
	<button type="submit" class="generic_button" name="save_close" value="save_close"><span>Save and close</span></button>
	<button type="submit" class="generic_button" name="cancel" value="cancel" onclick="return confirm('Any changes will be lost')"><span>Cancel</span></button>
  <?=form_divider()?>
</fieldset>

<?if($allowed_images):?>
  <?=$image_partial?>
<?endif?>
<?=$link_partial?>