<?if(($revision = $model->revision()) || ($master = $model->master()) || ($lang = $model->alt_language())):?>
<div class="ui-widget">
  <div class="ui-state-highlight ui-corner-all"> 
    <?if($revision):?>
    <p><span class="ui-icon ui-icon-info"></span>You are editing a revision of <a href="/<?=trim($controller,"/")?>/edit/<?=$revision->primval?>/">another page</a>.</p>
    <?endif?>
    <?if($master = $model->master()):?>
    <p><span class="ui-icon ui-icon-alert"></span>You are editing the master version.</p>
    <?endif?>
    <?if($lang = $model->alt_language()):?>
    <p><span class="ui-icon ui-icon-info"></span>You are editing an alternative language (<?=ucwords(CMSApplication::$languages[$model->language]['name'])?>) version of <a href="/<?=trim($controller,"/")?>/edit/<?=$lang->primval?>/">another page</a>.</p>
    <?endif?>
	</div>
</div>
<?endif?>
