<?
//if this is a draft version of the model then the end point would be the current edit url
if($model->revision()) $endpoint = "/".trim($controller,"/")."/edit/".$model->primval.".json";
//otherwise this is the master, so to start with the endpoint is a revision call
else $endpoint = "/".trim($controller,"/")."/edit/".$model->primval.".json?revision=1";
?>

<?if($autosave):?><a id="auto-save" title="Autosave Enabled" class="button orange enabled"><img src="/images/wildfire/icons/autosave-on.png" alt="Autosave Enabled" data-saving="/images/wildfire/icons/autosaving.gif" data-off="/images/wildfire/icons/autosave-off.png"><span data-save-point="<?=$endpoint?>" data-controller="/<?=trim($controller,"/")?>/">Auto Save Enabled</span></a><?endif?>
