<?foreach($all_rows as $row):?>
    <tr id="row_<?=($primval = $row->primval)?>">
      <?foreach($scaffold_columns as $column=>$params):?>
        <td class="column">
          <?if($column == 'title'):?>
  					<?if($row->status == 1):?>
  					  <span class="status_change_span">
  	          <?if($current_user->access($module_name,"edit")):?>
  	          <a href="./status/<?=$primval?>?status=0" id="a_<?=$primval?>" class="status_change" rel="0" title="click to change to draft">
  	          <?endif?>
  	          <img src="/images/cms/icon_published.gif" title="click to change to draft" width="12" class="status_icon" />
  	          <?if($current_user->access($module_name,"edit")):?></a><?endif?>
  	          </span>
  	        <?else:?>
  	        	<span class="status_change_span">
  	        	  <?if($current_user->access($module_name,"edit")):?>
  	        	  <a href="./status/<?=$primval?>?status=1" id="a_<?=$primval?>" class="status_change" rel="1" title="click to change to published">
  	        	  <?endif?>
  	        	  <span><img src="/images/cms/icon_draft.gif" title="click to change to published" width="12" class="status_icon" />
  	        	  <?if($current_user->access($module_name,"edit")):?></a><?endif?>
  	        	  </span>
  	        <?endif?>
	        <?endif?>
					
          <?if($params["link"] && $current_user->access($module_name,"edit")):?>
            <a href="<?=$all_modules[$module_name]['link']?>edit/<?=$primval?>/"><?=$row->$column?></a>
          <?else:?>
            <?=$row->$column?>
          <?endif;?>
        </td>
      <?endforeach?>
      <td class="column">
        <?$cats = 0?>
        <?foreach($row->categories as $cat):?>
          <?if($cats < 3):?>
            <span class="category_label"><?=truncate($cat->name, 18)?> &nbsp;&nbsp;</span> 
          <?else:?>
            ...<?break?>
          <?endif?>
          <?$cats++?>
        <?endforeach?>
      </td>
      <td class="column last">    
        <?if($current_user->access($module_name,"edit")):?>
          <div class="generic_button"><a href="<?=$all_modules[$module_name]['link']?>edit/<?=$primval?>/">Edit</a></div>
        <?endif?>
        <?if($current_user->access($module_name,"delete")):?>
          <div class="generic_button"><a onclick="return confirm('Are you sure you want to do that?');" href="<?=$all_modules[$module_name]['link']?>delete/<?=$primval?>/">Delete</a></div>
        <?endif?>        
            
        <?if($row->is_published()):?><div class="generic_button"><a href="<?=$row->permalink()?>">View Post</a></div>
        <?else:?><div class="generic_button"><a href="<?=$row->permalink()?>?preview=1" target="_blank" id="preview_<?=$primval?>"<?=$modal_preview?' class="modal_preview" ':''?>>Preview</a></div><?endif?>
      </td>
    </tr>
<?endforeach?>