<div class="empty_cat_dropzone" id="cat_drop"></div>
<script>
  $("#cat_drop").Droppable(
  	{
  	  accept : 'category_tag',
  		hoverclass:	'dropzone_active',
  		tolerance:		'pointer',
  		ondrop:	function (drag) {
  					$.post("/admin/content/add_category/<?=$page->id?>", 
  					  {id: drag.id},
              function(response){
                $("#cat_dropzone").html(response);
              }
            )
  				}
  });
</script>
<h4>Selected categories</h4>
  <?foreach($attached_categories as $attached):?>
  <div class="clearfix">
    <div class="category_tag category_list_tag" id="tag_<?=$attached->id?>"><?=$attached->name?></div>
    <span class="trash_cat">
      <?=image_asset("cms", "trash.gif", array("id"=>"delete_category_button"))?>
      <script>
          $("#delete_category_button").click(function(){
            $.get("/admin/content/remove_category/<?=$page->id?>?cat=<?=$attached->id?>",function(response){
              $("#cat_dropzone").html(response);
            })
          })
      </script>
    </span>
  </div>
  <?endforeach?>
  <?if(!$attached_categories):?><p>No categories selected - drag and drop to add!</p><?endif?>
<div class="clearfix"></div>