<?
if(!$parent_id) $parent_id = 0;
if(!$depth) $depth =0;
if(!$tree){
  $tree = new $model_class($model_scope);
  $tree = $tree->filter("language", $model->language)->roots();
}
?>
<?if($depth == 0):?>
  <?foreach($fields as $field):?><?=$field->render()?><?endforeach?>
<?endif?>

<ul class='tree tree-depth-<?=$depth?>' id="tree-<?=$depth?>" data-parent-form-element="<?=$model->table?>_parent" data-parent-value="<?=$parent_id?>" data-depth="<?=$depth?>">
<?if($tree && $tree->count()):?>

  <?foreach($tree as $branch):?>
  <?if($branch->master()):?>
    <?$kids = $branch->children;?>
    <li class='branch branch-depth-<?=$depth?> branch-<?if($kids && $kids->count()):?>has-children<?else:?>no-children<?endif?> <?if($branch->primval == $model->primval):?>active-branch<?endif?>' data-primval="<?=$branch->primval?>">
      <a href="#" class='node node-<?if($branch->status == 1):?>live<?else:?>draft<?endif?> <?if($branch->primval == $model->primval):?>active<?endif?>'><?=$branch->title?></a>
      <?=partial("_parent", array('tree'=>$kids, 'depth'=>($depth+1), 'model'=>$model, 'parent_id'=>$branch->primval))?>
    </li>
  <?endif?>
  <?endforeach?>

<?endif?>
</ul>