<div class='field form-submit clearfix'>
  <?if($model->status == 1):?>
  <input type="submit" name='live' value='PUT LIVE' class='submit_field input_field live <?=get_class($model)?>-live'>
  <input type="submit" name='revision' value='SAVE FOR LATER' class='submit_field input_field revision <?=get_class($model)?>-revision'>
  <input type="submit" name='hide' value='HIDE' class='submit_field input_field hide <?=get_class($model)?>-hide'>
  <?else:?>
  <input type="submit" name='live' value='PUT LIVE' class='submit_field input_field live <?=get_class($model)?>-live'>
  <input type="submit" name='hide' value='SAVE FOR LATER' class='submit_field input_field hide <?=get_class($model)?>-hide'>
  <?endif?>
</div>