<div class='form-submit'>
  <?if($autosave):?><a href="<?=$model->permalink?>?preview=<?=$model->primval?>" class='preview button preview-button'>Preview</a><?endif?>
    
  <?if($model->status == 1):?>
    <input type="submit" name='revision' value='Save For Later' class='submit_field input_field revision <?=get_class($model)?>-revision'>
    <?if($current_user->allowed($controller,"publish")):?>
      <input type="submit" name='live' value='Update Live Version' class='submit_field input_field live <?=get_class($model)?>-live'>
    <?endif?>
    <input type="submit" name='hide' value='Hide' class='submit_field input_field hide <?=get_class($model)?>-hide'>
  <?else:?>
    <input type="submit" name='hide' value='Save For Later' class='submit_field input_field hide <?=get_class($model)?>-hide'>
    <?if($current_user->allowed($controller,"publish")):?>
      <input type="submit" name='live' value='Put Live' class='submit_field input_field live <?=get_class($model)?>-live'>
    <?endif?>
  <?endif?>
</div>