<?foreach($fields as $field):?>
<div class='field permalink permalink-master clearfix'>
  <?=$field->render(array('disabled'=>'disabled', 'label'=>'Primary URL'))?>
</div>
<?endforeach?>
<?
$map = new WildfireUrlMap;
$label = false;
?>
<?foreach($map->filter("destination_id", $model->primval)->filter("destination_model", get_class($model))->filter("language", $model->language)->filter("origin_url", $model->permalink, "!=")->all() as $i=>$url ):?>
<div class='field permalink permalink-others clearfix'>
  <a href='/<?=trim($controller,"/")?>/edit/<?=$model->primval?>/?map_remove=<?=$url->primval?>#<?=$tabhash?>' class='remove remove-<?=$i?>'><span class='ui-icon ui-icon-circle-minus'>&nbsp;<span></a>
  <?if(!$label):?><label for="map_<?=$i?>">Secondary URLS</label><?$label=true;?><?endif?>
  <input type="text" name="url_map[<?=$url->primval?>]" value="<?=$url->origin_url?>" id="map_<?=$i?>" class="input_field text_field validate valid-length valid-length">
</div>
<?endforeach?>

<div class='field permalink permalink-new clearfix'>
  <label for="map_new">Add a New URL</label>
  <input type="text" name="url_map[new]" value="" id="map_new" class="input_field text_field validate valid-length valid-length">
</div>