<?
$map = new WildfireUrlMap;
$label = false;
$primval = $model->primval;
?>


<?foreach($map->filter("destination_id", $primval)->filter("destination_model", get_class($model))->filter("language", $model->language)->all() as $i=>$url ):?>
<div class='field permalink permalink-others clearfix'>
  <?if($primval == $model->primval):?><a href='/<?=trim($controller,"/")?>/edit/<?=$model->primval?>/?map_remove=<?=$url->primval?>#<?=$tabhash?>' class='remove remove-<?=$i?>'><span class='ui-icon ui-icon-circle-minus'>&nbsp;<span></a><?endif?>
  <?if(!$label):?><label for="map_<?=$i?>">URLS</label><?$label=true;?><?endif?>
  <input type="text" name="url_map[<?=$url->primval?>]" value="<?=$url->origin_url?>" id="map_<?=$i?>" disabled="disabled" class="input_field text_field validate valid-length valid-length">
</div>
<?endforeach?>

<div class='field permalink permalink-new clearfix'>
  <label for="map_new">Add a New URL</label>
  <input type="text" name="url_map[new]" value="" id="map_new" class="input_field text_field validate valid-length valid-length">
</div>