<script type="text/javascript" src="/javascripts/upload/swfupload.js"></script>
<script type="text/javascript" src="/javascripts/upload/swfupload.queue.js"></script>
<script type="text/javascript" src="/javascripts/upload/fileprogress.js"></script>
<script type="text/javascript" src="/javascripts/upload/handlers.js"></script>
<script type="text/javascript" src="/javascripts/cms/file.js"></script>
<?=error_messages_for($model_name)?>
<form action="" class="form_container" method="post" enctype="multipart/form-data" id="content_edit_form">
  <?=$form?>
</form>