<div id="filter_block" class="clearfix">
	<div class="filter-item">
  	<form id="filter_form" action="">
	    
	  </form>
	   
	</div>
	<div id="section_filter">
    <form action="" name="section_browser">
      <strong>View by List: </strong>
      <select name="section_view" onchange="location.href=section_browser.section_view.options[selectedIndex].value">
        <?if(is_array($drop_down_options)):?>
				<option value=''>None</option>
        <?foreach($drop_down_options as $row):?>					
          <option value="/admin/email/<?=$action?>/<?=$row[$drop_down_cols['key']]?>"><?=$row[$drop_down_cols['val']]?></option>
        <?endforeach?>
				<?endif?>
      </select>
    </form>
  </div>
</div>