#container, #content_window {
  width:100%;
}

#footer {
  position:static;
}
#fs_body {
  width:100% !important;
}
#fs_body #dashboard {
  width:570px !important;
}
#fs_body #informationcart {
  float:left;
}
#statistics{
	width:22% !important;
}
#top_pagiation{
	width:12% !important;
	padding-right:2.7% !important;
}
#top_pagiation .pagination{
	padding:10px 0 !important;
}
#filter_block{
	width:81% !important;
	padding:10px 2% !important;
}

#footer{
	width:92% !important;
	padding:10px 4% !important;
}
.generic_button a{display:block;}
#item_list_container{width:100%;}
#quick_recent_content #item_list_container{width:auto !important;}