#container, #content_window {width:100%;}
#footer{position:static;}
#fs_body{width:100% !important;}
#fs_body #dashboard {width:570px !important;}
#fs_body #informationcart {float:left;}
#statistics{width:22% !important;}
#top_pagiation{
	width:12% !important;
	padding-right:2.7% !important;
}
#top_pagiation .pagination{
	padding:10px 0 !important;
}
#filter_block{
	width:81% !important;
	padding:10px 2% !important;
}

#footer{
	width:92% !important;
	padding:10px 4% !important;
	position:static;
}
.generic_button a{display:block;}

#sub-navigation-container {
  background:white;
  border-right:4px solid #5f5f5f;
}
#quick_content_column, #quick_recent_content {width:500px;float:left;}
#statistics {width:390px;}

#statistics #stats {border:1px solid #e1e1e1;}
#statistics .ui-tabs li a {border:1px solid #e1e1e1; border-bottom:0;}

