#container, #content_window {
  width:100%;
}

#footer {
  position:static;
}
#fs_body {
  width:100% !important;
}
#fs_body #dashboard {
  width:570px !important;
}
#fs_body #informationcart {
  float:left;
}
div.wym_area_top{height:35px !important;}