
/* EDITOR CONTAINER */

.widgContainer
{
}

/* HTML TAGS */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
p {
  font-size:13px;
}
h6 {
  font-size:14px;
  font-style:italic;
}
.flow_left {
  float:left;
  margin:0 10px 10px 0;
}
.flow_right {
  float:right;
  margin:0 0 10px 10px;
}