/**********WYSIWYG WIDGET TOOLBAR***************/

.widgToolbar a
{
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background-repeat: no-repeat;
	text-indent: -1000em;
	text-decoration: none;
	margin-top:4px;
}

.llbar a:hover
{
	background-position: 0 -24px;
}

.widgToolbar a:active
{
	margin-top: 2px;
	margin-left: 2px;
	background-position: 0 -48px;
}





.widgButtonBold
{
	background-image: url(../../images/cms/widgeditor_button_bold.gif);
}

.widgButtonHTML
{
	background-image: url(../../images/cms/widgeditor_button_html.gif);
}

.widgButtonImage, .widgButtonAttachImage 
{
	background-image: url(../../images/cms/widgeditor_button_image.gif);
}

.widgButtonCat, .widgButtonAttachCat 
{
	background-image: url(../../images/cms/widgeditor_button_cat.gif);
}

.widgButtonItalic 
{
	background-image: url(../../images/cms/widgeditor_button_italic.gif);
}

.widgButtonLink
{
	background-image: url(../../images/cms/widgeditor_button_link.gif);
}

.widgButtonOrdered
{
	background-image: url(../../images/cms/widgeditor_button_ordered.gif);
}

.widgButtonUnordered
{
	background-image: url(../../images/cms/widgeditor_button_unordered.gif);
}

.widgSource a
{
	background-image: url(../../images/cms/widgeditor_button_empty.gif);
	cursor: default;
}

.widgSource li.on a, .widgSource li.on a:hover
{
	background-position: 0 0;
}

.widgSource .widgButtonHTML
{
	background-image: url(../../images/cms/widgeditor_button_html.gif);
}

.widgSource .widgButtonHTML:hover
{
	cursor: pointer;
}

.widgToolbar {
	margin: 1px 0 0 0;
	padding: 8px 20px;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	background-image: url(../../images/cms/widg_bg.gif);
	height:22px;
}

* html .widgToolbar
{
	width: auto;
}

.widgToolbar li
{
	display: inline;
	float: left;
	width: 24px;
	height: 24px;
	margin-left: 7px;
}
.widgEditSelect {
  width:auto !important;
}
.widgToolbar li.widgSeparator {
	background: url(../../images/cms/widgeditor_separator.gif) no-repeat center center;
	width:10px;
}





.widgIframe {
	clear: left;
	width: 100%;
	border:0;
	background-color:white;
}
.widgContainer {
  padding:0 !important;
}
.widgContainer textarea.widgEditor
{
	clear: left;
	width: 100%;
	height: 200px;
	border-top-width: 1px;
	padding: 0;
}
/*********** END WIDGET AREA **********/


