/**********WYSIWYG WIDGET TOOLBAR***************/

.widgToolbar a
{
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background-repeat: no-repeat;
	text-indent: -1000em;
	text-decoration: none;
	margin-top:4px;
}

.widgToolbar a:hover
{
	background-position: 0 -24px;
}

.widgToolbar a:active
{
	margin-top: 2px;
	margin-left: 2px;
	background-position: 0 -48px;
}





.widgButtonBold
{
	background-image: url(../../images/cms/widgeditor_button_bold.gif);
}

.widgButtonHTML
{
	background-image: url(../../images/cms/widgeditor_button_html.gif);
}

.widgButtonImage, .widgButtonAttachImage 
{
	background-image: url(../../images/cms/widgeditor_button_image.gif);
}

.widgButtonCat, .widgButtonAttachCat 
{
	background-image: url(../../images/cms/widgeditor_button_cat.gif);
}

.widgButtonItalic 
{
	background-image: url(../../images/cms/widgeditor_button_italic.gif);
}

.widgButtonLink
{
	background-image: url(../../images/cms/widgeditor_button_link.gif);
}

.widgButtonOrdered
{
	background-image: url(../../images/cms/widgeditor_button_ordered.gif);
}

.widgButtonUnordered
{
	background-image: url(../../images/cms/widgeditor_button_unordered.gif);
}
.widgButtonVideo
{
	background-image: url(../../images/cms/widgeditor_button_video.gif);
}

.widgButtonImage
{
	background-image: url(../../images/cms/widgeditor_button_inline_image.gif);
}


.widgSource a
{
	background-image: url(../../images/cms/widgeditor_button_empty.gif);
	cursor: default;
}

.widgSource li.on a, .widgSource li.on a:hover
{
	background-position: 0 0;
}

.widgSource .widgButtonHTML
{
	background-image: url(../../images/cms/widgeditor_button_html.gif);
}

.widgSource .widgButtonHTML:hover
{
	cursor: pointer;
}

.widgToolbar {
	margin: 1px 0 0 0;
	padding: 8px 20px;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	background-image: url(../../images/cms/widg_bg.gif);
	height:22px;
}

* html .widgToolbar
{
	width: auto;
}

.widgToolbar li
{
	display: inline;
	float: left;
	width: 24px;
	height: 24px;
	margin-left: 7px;
}
.widgEditSelect {
  width:auto !important;
}
.widgToolbar li.widgSeparator {
	background: url(../../images/cms/widgeditor_separator.gif) no-repeat center center;
	width:10px;
}





.widgIframe {
	clear: left;
	width: 100%;
	border:0;
	background-color:white;
}
.widgContainer {
  padding:0 !important;
}
.widgContainer textarea.widgEditor
{
	clear: left;
	width: 100%;
	height: 200px;
	border-top-width: 1px;
	padding: 0;
}
/*********** END WIDGET AREA **********/


/**** Inline image browser styles *******/

#inline_image_browser {
  position:absolute;
  z-index:1001;
  width:630px;
  height:520px;
  border:1px solid #999;
  background-color:white;
  -webkit-box-shadow:3px 3px 5px #999;
}
.inline_edit_existing {
  height:170px !important;
}
.inline_edit_existing #image_details {
  padding:20px;
}
#inline_close_bar {
  height:20px;
  padding:4px;
  background:#666;
}
#inline_close_bar h3 {
  color:white;
  float:left;
}
#inline_close {
  float:right;
  font-weight:bold;
  text-decoration:none;
  color:white;
}
#inline_image_browser #image_display {
  overflow:scroll;
  height:260px;
  padding:20px;
}
#inline_image_browser #image_display img {
  border:2px solid white;
}
#image_details {
  padding:5px 10px;
}
#image_details #selected_image {
  float:left;
  margin-right:8px;
}
#image_details #image_meta {
  float:left;
  width:80%;
}
#image_details #image_meta label {
  display:block;
  color:#666;
}
#image_details #image_meta input {
  margin:2px 0;
  padding:2px;
  width:95%;
}
#image_details #image_meta div {
  margin-left:8px;
}
#flow_normal, #flow_left, #flow_right {
  display:block;
  float:left;
  width:30px;
  height:20px;
  padding-left:16px;
}
#flow_normal {
  background:url(../../images/cms/widg_image_icons.gif) left -8px  no-repeat;
}
#flow_right {
  background:url(../../images/cms/widg_image_icons.gif) left -80px no-repeat;
}
#flow_left {
  background:url(../../images/cms/widg_image_icons.gif) left -116px no-repeat;
}
#inline_insert {
  float:right;
}
#image_details .generic_button a {
  font-size:100% !important;
  text-decoration:none;
}
