<p>The File modules allow you to upload images and documents to the server for use on the website. Prerequisites for uploading files are: </p>
<ul>
	<li>Images must be in JPEG, GIF or PNG formats.</li>
	<li>Documents must be less than 8MB in size.</li>
	<li>We recommend documents are distributed in PDF format but the system allows Word Documents, Spreadsheets and PowerPoint presentations to be uploaded.</li>
</ul>
<p></p>
<h5>List View</h5>
<p>The default page when clicking the Files tab is a thumbnail list view. At the top of the page is a Filter, typing text in this input box filters the thumbnail list below, for example: typing 'ne' will list all items containing the characters 'ne'. Alongside the 'Filter' is an 'Order By' select box, select a field to reorder the list below. Below the the filter is a list of File items, under each item are the options to 'Edit' - the filename and 'Delete' - the trash can. Clicking the filename will take you to the Edit Form, clicking the trash can icon will ask you to confirm before removing the item.</p>
<p>Thumbnail views of images are generated automatically from the original files, if a thumbnail cannot be created a default document image is used.</p>
<h5>Create/Edit View</h5>
<p>Selecting the 'Create New Site Section' or the 'Edit' button next to a list item takes you to the same form.</p>
<ul>
	<li><strong>Upload File:</strong> click the 'Browse' button to select a file from your computer.</li>
	<li><strong>Caption:</strong> Used as alternative text for images or documents in cases where they cannot be displayed as icons or images.</l1>
</ul>
<em>Uploading a file can take anywhere between 10 seconds - 2 minutes depending on your connection speeds and filesize.</em>