<p>Sections form the backbone of a Wildfire powered website.  They are used to set up a sites menu structure and placement holders for content.</p>
<h5>List View</h5>
<p>The default page when clicking the Site Sections tab is a list view.  At the top of the page is a Filter, typing text in this input box filters the list below, for example: typing 'ne' will list all items containing the characters 'ne'. Alongside the 'Filter' is an 'Order By' select box, select a field to reorder the list below. Below the the filter is a list of Section items, to the right of each item are the options to 'Edit' and 'Delete'. The Edit button will take you to the Edit Form, clicking the 'Delete' option will ask you to confirm before removing the item.</p>
<h5>Create/Edit View</h5>
<p>Selecting the 'Create New Site Section' or the 'Edit' button next to a list item takes you to the same form.</p>
<p>Available fields are:</p>
<ul>
	<li><strong>Title:</strong> The section title, often used to generate a menu name on the public site</li>
	<li><strong>Parent Category:</strong> Sections can be used to create hierarchal structures such as menus, by default sections are created under the 'Home' section.</li>
	<li><strong>Introduction:</strong> used as a brief introduction the the section.</li>
</ul>
<p></p>
<h5>Change Order of Sections</h5>
<p>Using this tool you can reorder the sections displayed on the sites menu structure.  Unfortunately, due the nature of many navigation structures some parts of the ordering can not be modified using this tool. The tool uses a simple drag and drop interface, once an item is released the order has been changed.</p>