<div class="cms_home_module">
  <h3>Recent Search Referrals</h3>
  <?if(count($stat_search)):?>
    <?foreach($stat_search as $search):?>
        <div class="home_module_line"><?=$search->count?> searches: </div>
        <div class="home_module_value"><a href="<?=urldecode($search->referrer)?>"><?=$search->phrase?></a></div>
        <div class="graph_separator"></div>
    <?endforeach?>
  <?else:?>
    <form action="" method="post" class="form_container">
      <fieldset>
        <?=large(text_field_tag("stat_search_url", "", array(),"Search Statistics URL"))?>
        <?=form_divider()?>
        <?=small(submit_tag("Update"))?>
      </fieldset>
    </form>

  <?endif?>
</div>