<div class="cms_home_module">
  <h3>Recent Incoming Links</h3>
  <?if(count($stat_links)):?>
    <?foreach($stat_links as $link):?>
      <?$path = parse_url(urldecode($link->site))?>
      <div class="home_module_line"><strong><?=$link->count?></strong> links from</div>
      <div class="home_module_value"><a href="<?=urldecode($link->site)?>"><?=$path['host']?></a></div>
      <div class="graph_separator"></div>
    <?endforeach?>
  <?else:?>
    <form action="" method="post" class="form_container">
      <fieldset>
        <?=large(text_field_tag("stat_link_url", "", array(),"Link Statistics URL"))?>
        <?=form_divider()?>
        <?=small(submit_tag("Update"))?>
      </fieldset>
    </form>

  <?endif?>
</div>