<div class="cms_home_module">
  <h3>Recent Search Referrals</h3>
  <?if(count($stat_search)):?>
    <?foreach($stat_search as $search):?>
        <div class="home_module_line"><?=$search->count?> searches: </div>
        <div class="home_module_value"><a href="<?=urldecode($search->referrer)?>"><?=$search->phrase?></a></div>
        <div class="graph_separator"></div>
    <?endforeach?>
  <?else:?>
    <p>URL is not defined. This is setup in the <a href="/admin/settings/">settings</a> module.</p>
  <?endif?>
</div>