<? // Find max value of visitors 
foreach($stat_dash as $dash):
  $visits[]=$dash->visits;
endforeach;
if($visits) $max = max($visits);
?>
<!-- Max = <?print_r($visits ,1)?>  -->
<div class="cms_home_module">
  <h3>Recent Visits and Page Views</h3>
  <?if(count($stat_dash)):?>
    <?foreach($stat_dash as $dash):?>
      <?if($max > 0) $width = (($dash->visits / $max) * 0.5)*100?>
      <?if($dash->visits):?>
        <div class="home_module_line graph_line"><?=date("M j",strtotime($dash->date))?>: <strong><?=$dash->visits?> Visitors</strong> &nbsp;&nbsp;</div>
        <div class="bar_graph" style="width:<?=$width?>%"></div><div class="graph_separator"></div>
      <?endif?>
    <?endforeach?>
  <?else:?>
    <p>
      <strong>Your site has not yet been setup to track your visitors</strong><br />
      Your daily visitor numbers will appear here shortly.
    </p>
  <?endif?>
</div>