<h3>Recent Visits and Page Views</h3>
  <object type="application/x-shockwave-flash" data="/images/open-flash-chart2.swf" width="350px" height="150px" id="stats">
	  <param name="allowScriptAccess" value="sameDomain" />
	  <param name="bgcolor" value="#444" />
	  <param name="wmode" value="transparent" />
	  <param name="movie" value="/images/open-flash-chart2.swf" />
	  <param name="flashvars" value="data-file=%2Fadmin%2Fhome%2Fvisitor_data">
    <a title="You must install the Flash Plugin for your Browser in order to view this movie"  href="http://www.adobe.com/products/flashplayer/"><img src="http://www.adobe.com/images/shared/product_mnemonics/50x50/flash_player_50x50.gif" alt="placeholder for flash movie" /></a>
	</object>