<h2>CMS Home Page</h2>
<?php
class SLLists {

	var $lists = array();
	var $jsPath;
	var $debug = false;
	
	function SLLists($jsPath) {
		$this->jsPath = $jsPath;
	}
	
	function addList($list_as_array, $scaffold, $list, $input, $tag = 'li', $additionalOptions = '') {
		if ($additionalOptions != '') $additionalOptions = ','.$additionalOptions;
		$this->lists[] = array("list" => $list, "input" => $input, "tag" => $tag, "additionalOptions" => $additionalOptions);
		$this->list_as_array = $list_as_array;
		$this->scaffold = $scaffold;
		$this->listId = $list;
	}
	
	function makeList() {
		?>
		
		<script language="JavaScript" type="text/javascript"><!--
			function populateHiddenVars() {
				<?
				foreach($this->lists as $list) {
					?>
					document.getElementById('<?=$list['input'];?>').value = Sortable.serialize('<?=$list['list'];?>');
					<?
				}
				?>
				return true;
			}
			//-->
		</script>
		<?
	
		print "<tbody id='$this->listId'>";
		foreach( $this->list_as_array as $value ){
			print "<tr id='{$value['id']}'>";
			foreach( $this->scaffold as $key ){
				print "<td>{$value[$key]}</td>";
			}
			print "</tr>";
		}
		print "</tbody>";
		
		?>
		 <script type="text/javascript">
			// <![CDATA[
			<?
			foreach($this->lists as $list) {
				?>
				Sortable.create('<?=$list['list'];?>',{tag:'<?=$list['tag'];?>'<?=$list['additionalOptions'];?>});
				<?
			}
			?>
			// ]]>
		 </script>
		<?
	}
	
	/*
	
	function printHiddenInputs() {
		$inputType = ($this->debug) ? 'text' : 'hidden';

		foreach($this->lists as $list) {
			if ($this->debug) echo '<br>'.$list['input'].': ';
			?>
			<input type="<?=$inputType;?>" name="<?=$list['input'];?>" id="<?=$list['input'];?>" size="60">
			<?
		}
		if ($this->debug) echo '<br>';
	}
	
	function printForm($action, $method = 'POST', $submitText = 'Submit', $submitClass = '',$formName = 'sortableListForm') {
		?>
		<form action="<?=$action;?>" method="<?=$method;?>" onSubmit="populateHiddenVars();" name="<?=$formName;?>" id="<?=$formName;?>">
			<? $this->printHiddenInputs();?>
			<input type="hidden" name="sortableListsSubmitted" value="true">
			<?
			if ($this->debug) {
				?><input type="button" value="View Serialized Lists" class="<?=$submitClass;?>" onClick="populateHiddenVars();"><br><?
			}
			?>
			<input type="submit" value="<?=$submitText;?>" class="<?=$submitClass;?>">
		</form>
		<?
	}
	
	function getOrderArray($input,$listname,$itemKeyName = 'element',$orderKeyName = 'order') {
		parse_str($input,$inputArray);
		$inputArray = $inputArray[$listname];
		$orderArray = array();
		for($i=0;$i<count($inputArray);$i++) {
			$orderArray[] = array($itemKeyName => $inputArray[$i], $orderKeyName => $i +1);
		}
		return $orderArray;
	}
*/
}

function makeList($list_as_array, $scaffold, $list, $input, $tag = 'li', $additionalOptions = '') {
	if ($additionalOptions != '') $additionalOptions = ','.$additionalOptions;
	$lists[] = array("list" => $list, "input" => $input, "tag" => $tag, "additionalOptions" => $additionalOptions);
	$listId = $list;
	
	$html = '';
	$html .= '<script language="JavaScript" type="text/javascript"><!--';
		$html .= 'function populateHiddenVars() {';
			foreach($lists as $list) {
				$html .= "document.getElementById('{$list['input']}').value = Sortable.serialize('{$list['list']}');";
			}
			$html .= 'return true;';
		$html .= '}';
	$html .= '//--></script>';
	
	$html .= "<tbody id='$listId'>";
	foreach( $list_as_array as $value ){
		$html .= "<tr id='{$value['id']}'>";
		foreach( $scaffold as $key ){
			$html .= "<td>{$value[$key]}</td>";
		}
		$html .= "</tr>";
	}
	$html .= "</tbody>";
	
	$html .= '<script type="text/javascript"> // <![CDATA[
	';
		foreach($lists as $list) {
			$html .= "Sortable.create('".$list['list']."',{tag:'".$list['tag']."'".$list['additionalOptions']."});";
		}
	$html .= '
		// ]]> </script>';
	return $html;
}

$list_as_array = array();
$list_as_array[] = array( 'id' => 1, 'name' => 'John');
$list_as_array[] = array( 'id' => 2, 'name' => 'Andy');
$list_as_array[] = array( 'id' => 3, 'name' => 'Dave');
$list_as_array[] = array( 'id' => 4, 'name' => 'Jimmy');

$scaffold = array( 'id', 'name' );

//$sortableLists = new SLLists('scriptaculous');
//$sortableLists->addList($list_as_array, $scaffold, 'categoriesA','categoriesListOrder', 'tr');
//$sortableLists->debug = true;
//$sortableLists->printTopJS();

?>
<div class="cb"><hr /></div>
<table>
	<?= makeList($list_as_array, $scaffold, 'categoriesA','categoriesListOrder', 'tr'); ?>
</table>
<?php
//$sortableLists->printForm($_SERVER['PHP_SELF'], 'POST', 'Submit', 'button');
?>