<form action="" method="post" id="settings_form">
  <table>
    <thead>
      <tr>
        <th>Comments Options</th>
        <th></th>
      </tr>
    </thead>
    <tr>
      <td><label for="email_comment">Comments Enabled for Sections</label></td>
      <td>
        <?foreach($all_cms_sections as $section):?>
            <?$check=false?>
            <?if(!is_array($mods = $comments["enabled_sections"])) $mods = array()?>
            <?if(array_key_exists($section->id, $mods)) $check=true;?>
            <?=check_box_tag($section->id, "1", $check, array("name"=>"comments[enabled_sections][".$secion->id."]", "id"=>"section_".$section->id), false)?>
            <label for="section_<?=$section->id?>"><?=$section->title?></label>
        <?endforeach?>
      </td>
    </tr>
    <tr>
      <td><label for="email_comment">Comment Notification Enabled</label></td>
      <td>
        <input id="email_comment" name="comments[email_comment]" type="checkbox" value="<?=$comments["email_comment"]?>" />
        <p>Email me when a comment is made</p>
      </td>
    </tr>
    <tr>
      <td><label for="email_spam">Spam Notification Enabled</label></td>
      <td>
        <input id="email_spam" name="comments[email_spam]" type="checkbox" value="<?=$comments["email_spam"]?>" />
        <p>Email me when a comment is made and recognised as spam</p>
      </td>
    </tr>
    <tr>
      <td><label for="filter">Filter Comments For:</label></td>
      <td>
        <textarea id="filter" name="comments[filter]"><?=$comments["filter"]?></textarea>
        <p>A list of words that will trigger comments to be marked as spam</p>
      </td>
    </tr>
    <tr class="footer">
      <td><input type="submit" value="Update Options" /></td>
      <td></td>
    </tr>
  </table>
</form>