<form action="" method="post" id="settings_form">
  <table>
    <thead>
      <tr>
        <th>General Options</th>
        <th></th>
      </tr>
    </thead>
    <tr>
      <td><label for="email">Email Address</label></td>
      <td>
        <input id="email" name="general[email]" type="text" />
        <p>The email address any communications get sent to</p>
      </td>
    </tr>
    <tr>
      <td><label for="email">Google Maps API Key</label></td>
      <td>
        <input id="googlekey" name="general[googlekey]" type="text" />
        <p>Set if you want to use maps on the site</p>
      </td>
    </tr>
    <tr>
      <td><label for="email">Pulse RSS Key</label></td>
      <td>
        <input id="pulsekey" name="general[pulsekey]" type="text" />
        <p>Allows web statistics to be displayed in CMS</p>
      </td>
    </tr>
  </table>
</form>