<div class="cms_settings_module">  
    <form action="" method="post" class="form_container">
      <fieldset>
        <?=form_heading("Address Information")?>
        <?=large(text_area_tag("address[address]", $address , array(),"Enter Address"))?>
        <?=form_divider()?>
				<?=large(text_field_tag("address[postcode]", $postcode , array(),"Enter Postcode"))?>
        <?=form_divider()?>
				<?=large(text_field_tag("address[email_address]", $email , array(),"Enter Email Address"))?>
        <?=form_divider()?>
				<?=large(text_field_tag("address[phone_number]", $phone , array(),"Enter Phone Number"))?>
        <?=form_divider()?>
				<?=large(text_field_tag("address[fax_number]", $fax , array(),"Enter Fax Number"))?>
        <?=form_divider()?>
        <?=small(submit_tag("Update"))?>
      </fieldset>
    </form>
</div>

<div class="cms_settings_module">
  <form action="" method="post" class="form_container">
    <fieldset>
      <?=form_heading("Ststistics URLs")?>
      <?=large(text_field_tag("stat_dash_url", "", array(),"Enter Visits URL"))?>
      <?=form_divider()?>
      <?=large(text_field_tag("stat_link_url", "", array(),"Enter Referrers URL"))?>
      <?=form_divider()?>
      <?=large(text_field_tag("stat_search_url", "", array(),"Search Statistics URL"))?>
      <?=form_divider()?>
      <?=small(submit_tag("Update"))?>
    </fieldset>
  </form>
</div>