<form action="" method="post" id="settings_form">
  <table>
    <thead>
      <tr>
        <th>Enabled Modules</th>
        <th></th>
      </tr>
    </thead>
    <tr>
      <td><label for="email">Tick Modules Enabled</label></td>
      <td>
        <?foreach($all_cms_modules as $name=>$settings):?>
          <?$check=false?>
          <?if(array_key_exists($name, $modules)) $check=true;?>
          <?=large(check_box_tag($name, "1", $check, array("name"=>"modules[".$name."]", "id"=>"modules_".$name)))?>
        <?endforeach?>
      </fieldset>
      </td>
    </tr>
    
    <tr class="footer">
      <td><input type="submit" value="Update Options" /></td>
      <td></td>
    </tr>
  </table>
</form>