
fieldset#all-versions h3{
  float:left;
  width:40%;
  margin:0;
}
fieldset#all-versions .data_table{
  margin-bottom:20px;
}
fieldset#all-versions .headers{
  padding:0 20px 10px 20px;
}
fieldset#all-versions .create-lang{
  background:#8EA79A;
  display:block;
  width:180px;
  margin:0;
  float:right;
}