#page_content #auto-save{
  float:right;
  padding:4px;
  margin:0px;
}
  #auto-save span{
    margin-right:5px;
    white-space:nowrap;
  }
  #auto-save img{
    float:right;
    vertical-align:middle;
  }
  
.preview-button{
  float:right;
}