.file-listing .info{
  height:300px;
}
.file-listing .file-tree-container{
  height:320px;
}


.existing-files{
  padding:20px 10px;
  border-top:1px solid black;
  border-bottom:1px solid black;
}

li.file input{
  float:right;
  margin:6px 5px 0 0;
}

.file-listing .file-info .checkbox_field{float:left;}
.file-listing .file-info img{float:right;}
  .file-listing .file-info img.file_thumb{
    float:none;
    display:block;
    margin:auto;
  }
.file-listing .file-info label{float:left;width:80%;margin-left:10px;}

.joined-file{
  float:left;
  width:15%;
  margin-left:1%;
  min-height:330px;
  overflow:hidden;
}
  .joined-file label{float:left;width:80%;margin-left:10px;}
  .joined-file .checkbox_field{float:left;}
  
/**
 * javascript inserted buttons
 */
.js-added{
  display:block;
  padding:6px 10px;
  font-size:108%;
  margin:5px auto 0 auto;
  text-align:center;
}
  

