/**
 *
 */

form fieldset div.WildfireContent-content{
  clear:both;
  margin-top:10px;
  padding:10px 2%;
}
  form fieldset div.WildfireContent-content label{display:none;}
  
div.WildfireContent-author, div.WildfireContent-revision, div.WildfireContent-altlanguage{display:none;}