#wildfire-image-dialog{padding:0;}
  #wildfire-image-dialog .info{height:350px;}
  #wildfire-image-dialog .file-tree-container{height:370px;}
  
  #wildfire-image-dialog .file-tree-container li a {
        background-position: 5px 5px;
        padding: 6px 2px 6px 25px;
    }
    #wildfire-image-dialog label, #wildfire-image-dialog input, #wildfire-image-dialog select{
      display:block;
      margin-bottom:5px;
      width:95%;
      padding:4px 0;
    }