.admincontent-edit fieldset#languages .create-WildfireContent{
  float:right;
}
.admincontent-edit fieldset#languages h3{
  float:left;
  width:40%;
  margin:0;
}
.admincontent-edit fieldset#languages .data_table{
  margin-bottom:20px;
}
.admincontent-edit fieldset#languages .headers{
  padding:0 20px 10px 20px;
}
.admincontent-edit fieldset#languages .create-lang{
  background:#8EA79A;
  display:block;
  margin:0;
}