.tree{}
  form .tree .field{
    padding:8px 2%;
    margin:0;
  }
  .tree .field .node{float:right;}
  .tree .field label{
    margin-bottom:0;
    font-weight:normal;
  }
    .tree .active label{font-weight:bold;}
    .tree .self label{font-weight:bold;font-style:italic;}
    
  .tree .view_children, .tree span.status{
    display:block;
    float:left;
    padding:0;
    margin-right:5px;
  }
  .tree span.status a, .tree .view_children a{padding:0;}
  .tree span.status a{display:block;width:16px;height:16px;}
  
.content_parent ul{margin-left:15px;}
  