.button, .submit_field{
  color:#323231;
}
.button {margin-right:0;}
/**
 * js inserted on files
 */
.remove-button{
  background:#F89E1E;
}
.add-button{
  background:#8EA79A;
}

.preview-button{
  background:#F89E1E;
}
a.orange, a.preview-button {
	background:#feda71;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(254,219,113)),
    color-stop(1, rgb(254,188,74))
  );
  background-image: -moz-linear-gradient(
    center top,
    rgb(254,219,113) 0%,
    rgb(254,188,74) 100%
  );
	border:1px solid #f5b74e;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color:#996633;
	text-shadow: #FFF 1px 1px 1px;
	font-size:93%;
	padding:7px 6px;
}
a.red, #auto-save.disabled{
	background:#ff6a8a;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(255,117,148)),
    color-stop(1, rgb(255,84,116))
  );
  background-image: -moz-linear-gradient(
    center top,
    rgb(255,117,148) 0%,
    rgb(255,84,116) 100%
  );
	border:1px solid #e83c5d;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color:#9e2d41;
	text-shadow: #FFF 1px 1px 1px;
	font-size:93%;
	padding:7px 6px;
}
.quick-create_new_content {margin-left:50px;}
a.operation, a.add-button {
	border:1px solid #a2afb8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#88a1b4 url(/images/wildfire/themes/v2/operation_button_bg.png) repeat-x top left;
	color:#515f6a;
	text-shadow: #FFF 1px 1px 1px;
	text-transform:none;
	font-weight:bold;
	padding:6px 10px;
}
input.live, input.hide, input.revision, a.remove-button {
	background:#9fcb57 url(/images/wildfire/themes/v2/green_button_bg.png) repeat-x;
	color:#5d7731;
	text-shadow: #FFF 1px 1px 1px;
	border:1px solid #adc671;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-transform:none;
}
input.hide, a.remove-button {
	background:#f5687a url(/images/wildfire/themes/v2/red_button_bg.png) repeat-x;
	border:1px solid #df6f8b;
	color:#913944;
	text-shadow:#f89ca9 1px 1px 1px;
}