#v2-cms li a.node {
	background: url("/images/wildfire/themes/v2/files_folder_closed.png") no-repeat left top;
	padding-left:30px !important;
}
#v2-cms li.expanded a {
	background: url("/images/wildfire/themes/v2/files_folder_open.png") no-repeat left top;
}
#v2-cms li.collapsed a {
	background: url("/images/wildfire/themes/v2/files_folder_closed.png") no-repeat left top;
}
#v2-cms .file-tree-container li {border-bottom:1px solid #9cafbc;}


#v2-cms li.file a {
	background: url("/images/wildfire/themes/v2/files_document.png") no-repeat left top;
}
#v2-cms .jqueryFileTree li:last-child {border:0;}
#v2-cms .file-tree-container li .options a {
	background:url("/images/wildfire/themes/v2/operation_button_bg.png") repeat-x scroll left top #88A1B4;
	padding:3px 5px; 
	margin-top:3px;
}
#v2-cms .info {
	background:#bccfdb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-right:10px;
}
#v2-cms .delete_folder {margin-right:4px;}
#v2-cms .image_wrap {
	height:150px;
	position:relative;
	overflow:hidden;
}
#v2-cms .existing-files {
	border-color:#9CAFBC;
	border-bottom:0;
}
#v2-cms .joined-file {
	background:#BCCFDB;
	width:154px;
	padding:5px;
	min-height:0;
}
#v2-cms .joined-file img,
#v2-cms .file-info img {
	box-shadow:  2px 2px 3px rgba(0, 0, 0, .4);
}
#v2-cms .tag_options label {
	margin:0 0 2px 0;
	float:right;
	width:86%;
	color:#333;
	font-weight:normal;
}
#v2-cms .joined-file p {font-size:10px;font-weight:bold;margin-bottom:4px;}
#v2-cms .file-info {overflow:hidden;}
#v2-cms .file-info .image_wrap {
	float:left;
	width:155px;
}
#v2-cms .file-info .file-info-panel {
	float:left;
	margin-left:5px;
	width:190px;
}
#v2-cms .index_container .file-info .image_wrap {
	width:205px;
	height:205px;
}
#v2-cms .index_container .file-info .image_wrap img {
	float:none;
	margin:0;
}
#v2-cms .index_container .file-info-panel {
	width:135px;
}
#v2-cms .index_container .file-info-panel .button {
	display:block;
	text-align:center;
}
#v2-cms .index_container .upload-form h3 {
	text-shadow:1px 1px 1px rgba(210, 210, 210, 0.7);
	color:#222;
}