#primary_navigation {
	width:16%;
}
#primary_navigation li.top {
	margin:0;
	background:none;
	margin-bottom:8px;
}
#primary_navigation li.top a {
	background:url(/images/wildfire/themes/v2/nav_button_bg.png) repeat;
	color:#9fa8b0;
	text-shadow: rgb(0,0,0) 1px 1px 5px;
	text-shadow: rgba(0,0,0,0.7) 1px 1px 1px;
	margin-bottom:0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:  1px 1px 4px rgba(0, 0, 0, .7);
	-webkit-box-shadow:  1px 1px 4px rgba(0, 0, 0, .7);
	-box-shadow:  1px 1px 4px rgba(0, 0, 0, .7);
	padding:5px 10px;
	text-transform:none;
	font-size:113%;
	font-weight:bold;
	line-height:140%;
	border:1px solid #4f595f;
}
#primary_navigation li.top a.active, #primary_navigation li.top a:hover {
	background:url(/images/wildfire/themes/v2/nav_button_sel_bg.png) repeat;
	color:white;
}
#primary_navigation li.subtop a,
#primary_navigation li.subtop a.active,
#primary_navigation li.subtop a:hover{
	background:none;
	border-width:0;
	padding:3px 15px;
	font-weight:normal;
	-moz-box-shadow: none;
	-webkit-box-shadow:  none;
	-box-shadow:  none;
}
