html {
	background:#2c3234;
	-webkit-box-shadow: 0 0 200px #000000 inset;
	-moz-box-shadow: 0 0 200px #000000 inset;
	box-shadow: 0 0 200px #000000 inset;
	padding-bottom:20px;
}
#v2-cms #header {
	background:#1b2325 url(/images/wildfire/backgrounds/header_bg.png) repeat-x;
	min-height:40px;
}
#v2-cms .buttons_and_search {
	padding:16px 10px 0 10px;
}

#v2-cms .dashboard{
	background:#36424a;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-top:10px;
}
#v2-cms .dashboard h3, #v2-cms .index_container h3 {
	text-shadow: rgb(0,0,0) 1px 1px 1px;
	text-shadow: rgba(0,0,0,0.7) 1px 1px 1px;
	color:white;
	font-weight:bold;
}
#v2-cms .data_table, #v2-cms .data_grid, #v2-cms .data_tree, #v2-cms .data_info{
	background:#cedfea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#v2-cms .data_table{margin-top:10px;}
#v2-cms .data_result_table{margin-top:0;}
#v2-cms .empty_data_table{margin-top:0;}
#v2-cms .data_grid, #v2-cms .data_info{padding:8px;}
#v2-cms .tree_item_details .operation{
  float:right;
  font-size:77%;
  margin-left:5px;
}
#v2-cms .data_info .info_col{
  display:block;
  float:left;
  width:35%;
  padding-right:2%;
  font-weight:bold;
  text-align:right;
  border-right:1px solid #97afbd;
}
#v2-cms .data_info .info_value{
  display:block;
  float:left;
  padding-left:2%;
  width:60%;
}
#v2-cms .tree_item_details{
  float:right;
  width:42%;
}
#v2-cms .tree_list{
  float:left;
  width:50%;
}
#v2-cms .data_tree .tree_headers{
  padding:10px 2px 10px 52px;
  padding-bottom:10px;
  font-weight:bold;
}
#v2-cms .data_tree .tree_node{padding:2px 2px 2px 10px;}
#v2-cms .data_tree .tree_depth_1{padding-left:26px;}
#v2-cms .data_tree .tree_depth_2{padding-left:42px;}
#v2-cms .data_tree .tree_depth_3{padding-left:58px;}
#v2-cms .data_tree .tree_operations, #v2-cms .data_tree .tree_col{float:right;}
#v2-cms .data_tree .tree_operations .operation{
  padding-top:3px;
  padding-bottom:3px;
}
#v2-cms .data_tree .tree_node a {
  overflow: hidden;
  white-space: nowrap;
  max-width:70%;
}

#v2-cms .data_table tr td, #v2-cms .data_table tr th, #v2-cms .data_tree li{
	border-bottom:1px solid #9cafbc;
}
#v2-cms .data_table tr:nth-child(odd) td{
	background:#bccfdb;
}
#v2-cms .data_table tr:last-child td, #v2-cms .data_tree li:last-child{
  border-bottom:none;
}
#v2-cms .data_table tr:last-child td:first-child{
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
#v2-cms .data_table tr:last-child td:last-child{
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
#v2-cms .data_table .children-list table {border-left:1px solid #9cafbc;}
#v2-cms .dashboard table tr.active td, #v2-cms .data_table tr.active td, #v2-cms .data_tree li.active {
  font-weight:bold;
  background:#DAFFEC;
}
#v2-cms .dashboard table tr td, #v2-cms .dashboard table tr th{
  padding-left:10px;
}
#v2-cms .dashboard table tr td, #v2-cms .dashboard table tr td a, #v2-cms .dashboard table tr th{color:#36424a;}
#v2-cms .dashboard table tr td a:hover {color:#e2edf4;}

#v2-cms #page_content {
	background:none;
	border:0;
	width:80%;
	overflow:hidden;
	margin-right:20px;
}
.nochrome #v2-cms #page_content{
  width:98%;
}

#v2-cms #client-analytics-graph,
#v2-cms #client-sources-graph,
#v2-cms #traffic-keywords,
#v2-cms .file-tree-container,
#v2-cms .files_content .info {
	background:#cedfea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:10px;
}
#v2-cms #traffic-keywords tr:first-child td {
  border-top:none;
}
#v2-cms .ui-tabs-nav {background:transparent !important;border:0;}
#v2-cms .tabs_container {background:none;border:0;overflow:hidden;}
#v2-cms .form-submit {overflow:hidden;}
#v2-cms .info-container {
	background:#cedfea;
	margin-top:0;
	margin-bottom:0;
	padding:15px;
}
#v2-cms .tab-contents {
	background:#cedfea;
}
#v2-cms .tabs_container, #v2-cms .index_container {
	background:#36424a;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
	margin-top:10px;
}
#v2-cms .index_container .filters{
  padding-left:0;
}
#v2-cms .index_container .filters_pagination{
  padding:0;
}
#v2-cms .index_container .pagination_bottom{
  margin-top:10px;
}
#v2-cms .index_container .filters .text_field{
  font-size:93%;
  padding:7px 9px;
}

#v2-cms .ui-state-default {
	background:#9ec5d5;
	border:0;
}
#v2-cms .ui-state-active {
	background:#CEDFEA;
	border:0;
}
#v2-cms .ui-state-default a {
	text-shadow:#222 1px 1px 1px 3px;
}
#v2-cms .form_datepicker {
	background:#fff url(/images/wildfire/themes/v2/calendar.png) no-repeat center right;
}
#v2-cms .ui-datepicker-header {
	background:#373737 url(/images/wildfire/themes/v2/calendar_header_bg.png) repeat-x;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}


#v2-cms .ui-datepicker {
	border:0;
	padding:0;
	-moz-box-shadow:  	1px 1px 6px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .6);
	box-shadow:  				1px 1px 6px rgba(0, 0, 0, .6);
}
#v2-cms .ui-datepicker td {
	border-collapse:collapse;
	background-color:none;
	background:#e4e4e4;
}
#v2-cms .ui-datepicker td a {
	color: #666;
	background: #e3e3e3;
	line-height: 190%;
	text-align: center;
	margin:0;
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
  #v2-cms .ui-datepicker td a.ui-state-active{
    background:#373737;
    color:white;
  }
#v2-cms .ui-timepicker-div {
	margin:0 5px;
}
#v2-cms .file-tree-container {
	margin:0px;
	width:51%;
	padding:10px 2%;
}
#v2-cms .files_content .info {
	margin:0;
	margin-left:0;
	width:35.2%;
}
#v2-cms .text_field {
	border:1px solid #c6dade;
	-moz-border-radius: 		5px;
	-webkit-border-radius: 	5px;
	-khtml-border-radius: 	5px;
	border-radius: 					5px;
	color:#437182;
	text-transform:none;
}
#v2-cms .ui-slider-horizontal {
	border-color:#c6dade;
}

#v2-cms .ui-dialog {
	border:0;
	-moz-box-shadow:  	1px 1px 6px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .6);
	box-shadow:  				1px 1px 6px rgba(0, 0, 0, .6);
	padding:0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}
#v2-cms .ui-dialog-titlebar {
	background:#373737 url(/images/wildfire/themes/v2/calendar_header_bg.png) repeat-x;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}
#v2-cms .messages li{
  color:#fff;
  background: #36424A;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 10px 0;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 8px rgba(0,0,0,0.25);
  font-weight: bold;
  font-size: 108%;
  text-shadow: 1px 1px 2px #000;
}
#v2-cms .messages a{
  color:#fff;
  text-decoration:underline;
}
#v2-cms .messages a:hover{color:#9FA8B0;}
#v2-cms .messages .message{
  display:block;
  margin-top:5px;
}
#v2-cms .messages .icon{
  display:block;
  float:left;
  width:28px;
  height:28px;
  margin-right:6px;
  background:transparent url(/images/wildfire/icons/info.png) center center no-repeat;
}
#v2-cms .messages .warning{
  background:#734c0e;
}
#v2-cms .messages .warning .icon{
  background:transparent url(/images/wildfire/icons/warning.png) center center no-repeat;
}
#v2-cms .messages .error{
  background:#7f1b2f;
}
#v2-cms .messages .error .icon{
  background:transparent url(/images/wildfire/icons/error.png) center center no-repeat;
}
#v2-cms .messages .confirm{
  background:#2a4106;
}
#v2-cms .messages .confirm .icon{
  background:transparent url(/images/wildfire/icons/confirm.png) center center no-repeat;
}
#v2-cms .messages .close_button{
  display:block;
  float:right;
  width:14px;
  height:14px;
  margin-top:7px;
  background:transparent url(/images/wildfire/icons/white-cross.png) center center no-repeat;
}


#v2-cms .index_container h3 a.link{color:white;}

#v2-cms .sortable-tree .data_tree .tree_col_status{display:none;}
#v2-cms .sortable-tree li{
  display:block;
  cursor:move;
}
/**
 * new media & upload stuff
 */
#v2-cms .cms-uploads-1 .index_container{
  width:59%;
  float:left;
}
#v2-cms .cms-uploads-1 .upload_block{
  width:34%;
  margin-left:2%;
  float:left;
}
#v2-cms .cms-uploads-1 .upload_block .index_container{
  width:94%;
  padding:10px;
}
  #v2-cms .cms-uploads-1 tbody td.title{
    max-width:100px;
    overflow:hidden;
  }
/**
 * drag and drop css for file uploads
 */
.drop-area{
  height:60px;
  margin:8px;
  border:1px dashed black;
}
  .drop-area p{
    margin-top:23px;
    text-align:center;
  }
.fu-failed{
  background:#ff4b58;
}
.fu-drop{
  background:#BCCFDB; /*DAFFEC*/
}
.fu-dragover, .fu-drop{
  height:70px;
}
.fu-dragover{
  background:white;
}
  .fu-dragover p, .fu-drop p{margin-top:28px;}

/* upload list */
.fu-uploading-active{
  margin:8px;
  display:block;
  height:170px;
  overflow:auto;
}

.file-summary{
  padding:5px;
  background:#BCCFDB;
  border-bottom:1px solid #36424A;
}
  .file-summary img{
    float:left;
    margin-right:5px;
  }
.fu-error{
  background:#ff4b58;
}
.fu-in-progress{
  background:#effff7;
}
.fu-completed{
  background:#DAFFEC;
}
.media-data a.link{
  display:block;
  font-weight:bold;
  margin-bottom:5px;
}
.media-data a.preview_link{
  display:block;
  height:120px;
  overflow:hidden;
}
.media-data a img{
  display:block;
  margin:auto;
}
#v2-cms .cms-uploads-1 .data_table tr.row_status0 td{
  background:#ffe8e8;
}

.category_tagging{
  margin:10px 0;
  width:92%;
  padding:5px 3%;
  font-size:108%;
  border:1px solid #c6dade;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  -khtml-border-radius:   5px;
  border-radius:          5px;
  color:#437182;
  text-transform:none;
}
