html {
	background:#2c3234;
	-webkit-box-shadow: 0 0 200px #000000 inset;
	-moz-box-shadow: 0 0 200px #000000 inset;
	box-shadow: 0 0 200px #000000 inset;
	padding-bottom:20px;
}
#v2-cms #header {
	background:#1b2325 url(/images/wildfire/backgrounds/header_bg.png) repeat-x;
	min-height:40px;
}
#v2-cms .buttons_and_search {
	padding:16px 10px 0 10px;
}

#v2-cms .dashboard, #cms-files #v2-cms #page_content {
	background:#36424a;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-top:10px;
}
#v2-cms .dashboard h3 {
	text-shadow: rgb(0,0,0) 1px 1px 1px;
	text-shadow: rgba(0,0,0,0.7) 1px 1px 1px;
	color:white;
	font-weight:bold;
}
#v2-cms .dashboard table, #v2-cms .data_table, #v2-cms .data_grid {
	background:#cedfea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#v2-cms .data_grid{padding:8px;}
#v2-cms .dashboard table tr td, #v2-cms .data_table tr td, #v2-cms .dashboard table tr th, #v2-cms .data_table tr th {
	border-bottom:1px solid #9cafbc;
}
#v2-cms .dashboard table tr:nth-child(odd) td, #v2-cms .data_table tr:nth-child(odd) td {
	background:#bccfdb;
}
#v2-cms .content_index .data_table tr:nth-child(odd) td {
	background:#CEDFEA;
}
#v2-cms .data_table tr:last-child > td, #v2-cms .dashboard table tr:last-child > td {
	border-bottom:none;
}
#v2-cms .data_table .children-list table {border-left:1px solid #9cafbc;}
#v2-cms .dashboard table tr.active td, #v2-cms .data_table tr.active td  {
  background:#9FCB57;
}
#v2-cms .dashboard table tr td {
	padding-left:10px;
	border-top:1px solid #9cafbc;
	color:#36424a;
}
#v2-cms .dashboard table tr th{
	padding-left:10px;
}
#v2-cms .dashboard table tr td a, #v2-cms .dashboard table tr th{color:#36424a;}
#v2-cms .dashboard table tr td a:hover {color:#e2edf4;}

#v2-cms #page_content {
	background:none;
	border:0;
	width:80%;
	overflow:hidden;
	margin-right:20px;
}

#v2-cms #client-analytics-graph, 
#v2-cms #client-sources-graph, 
#v2-cms #traffic-keywords,
#v2-cms .file-tree-container,
#v2-cms .files_content .info {
	background:#cedfea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:10px;
}
#v2-cms #traffic-keywords tr:first-child td {
  border-top:none;
}
#v2-cms .ui-tabs-nav {background:transparent !important;border:0;}
#v2-cms .tabs_container {background:none;border:0;}
#v2-cms .info-container {
	background:#cedfea;
	margin-top:0;
	margin-bottom:0;
	padding:15px;
}
#v2-cms .tab-contents {
	background:#cedfea;
}
#v2-cms .tabs_container, #v2-cms .index_container {
	background:#36424a;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
	margin-top:10px;
}
#v2-cms .index_container .filters{
  padding-left:0;
}
#v2-cms .index_container .filters_pagination{
  padding:0 0 10px;
}
#v2-cms .index_container .pagination_bottom{
  margin-top:10px;
}
#v2-cms .index_container .filters .text_field{
  font-size:93%;
  padding:7px 9px;
}
#v2-cms .field-datestart,#v2-cms .field-dateend {
	width:22%;
	float:left;
	margin-right:3%;
}
#v2-cms .ui-state-default {
	background:#9ec5d5;
	border:0;
}
#v2-cms .ui-state-active {
	background:#FFF;
	border:0;
}
#v2-cms .ui-state-default a {
	text-shadow:#222 1px 1px 1px 3px;
}
#v2-cms .form_datepicker {
	background:#fff url(/images/wildfire/themes/v2/calendar.png) no-repeat center right;
}
#v2-cms .ui-datepicker-header {
	background:#373737 url(/images/wildfire/themes/v2/calendar_header_bg.png) repeat-x;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}


#v2-cms .ui-datepicker {
	border:0;
	padding:0;
	-moz-box-shadow:  	1px 1px 6px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .6);
	box-shadow:  				1px 1px 6px rgba(0, 0, 0, .6);
}
#v2-cms .ui-datepicker td {
	border-collapse:collapse;
	background-color:none;
	background:#e4e4e4;
}
#v2-cms .ui-datepicker td a {
	color: #666;
	background: #e3e3e3;
	line-height: 190%;
	text-align: center;
	margin:0;
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;	
}
#v2-cms .ui-timepicker-div {
	margin:0 5px;
}
#v2-cms .file-tree-container {
	margin:15px;
	width:55%;
}
#v2-cms .files_content .info {
	margin:15px;
	margin-left:0;
	width:35.2%;
}
#v2-cms .text_field {
	border:1px solid #c6dade;
	-moz-border-radius: 		5px;
	-webkit-border-radius: 	5px;
	-khtml-border-radius: 	5px;
	border-radius: 					5px;
	color:#437182;
	text-transform:none;
}
#v2-cms .ui-slider-horizontal {
	border-color:#c6dade;	
}

#v2-cms .ui-dialog {
	border:0;
	-moz-box-shadow:  	1px 1px 6px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .6);
	box-shadow:  				1px 1px 6px rgba(0, 0, 0, .6);
	padding:0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}
#v2-cms .ui-dialog-titlebar {
	background:#373737 url(/images/wildfire/themes/v2/calendar_header_bg.png) repeat-x;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}