.print-view-of-page{
  background:white;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

  .print-view-of-page #header{
    display:none !important;
  }

  .print-view-of-page #primary_navigation{
    display:none !important;
  }

  .print-view-of-page #v2-cms .tabs_container,
  .print-view-of-page #v2-cms .index_container{
    background:none !important;
  }

  .print-view-of-page #v2-cms #page_content{
    width:98%;
  }
  .print-view-of-page #filters_container input,
  .print-view-of-page #filters_container select{
    display:none;
  }

.printing_block{
  width:600px;
  margin:10px auto;
}