.pagination_top{
  width:40%;
  float:right;
}

ul.pagination{
  float:right;
  margin-right:10px;
}

  ul.pagination li{
    float:left;
    display:block;
  }
  ul.pagination li a, ul.pagination li span{
    display:block;
    padding:6px;
    color:white;
    cursor:pointer;
  }
  ul.pagination li a{text-decoration:none;}
  ul.pagination li .current, ul.pagination li .disabled{
    font-weight:bold;
    cursor:auto;
    color:#888;
  }
