.view_children{
  text-align:center;
  border-right-width:0;
  padding:8px 2px;
}
  .view_children a{
    display:block;
    width:16px;
    height:16px;
    margin:auto;
    background-position: 0 -192px;
  }
  .view_children span{display:none;}
  
/**
 * width of columns
 */

table .view_children{
  width:2%;
}

table .date_start{
  width:18%;
  font-size:85%;
}
table .date_end{
  width:18%;
  font-size:85%;  
}
table .language{
  width:5%;
}
table .categories{
  width:8%;
}
table .author{
  width:8%;
}
table .title{
  width:30%;
}

table td table{
  margin-left:2%;
  width:98%;
}

