.view_children{
  text-align:center;
  border-right-width:0;
  padding:8px 2px;
}
  .view_children a{
    display:block;
    width:16px;
    height:16px;
    margin:auto;
    background-position: 0 -192px;
  }
  .view_children span{display:none;}