<div id="newsletter-latest-added">
	<div class="info-box">
		<h4>Latest Newsletters</h4>
		<ul>
			<?foreach($newsletters as $newsletter):?>
			<li><?=link_to($newsletter->title, array("action"=>"view_newsletter", "id"=>$newsletter->id))?></li>
			<?endforeach;?>
		</ul>
	</div>
	<div class="info-box">
		<h4>Latest Subscribers</h4>
		<ul>
			<?foreach($subscribers as $subscriber):?>
			<li><?=$subscriber->fullname?> (<?=$subscriber->email?>)</li>
			<?endforeach;?>
		</ul>
	</div>
</div>
<div id="newsletter-latest-mailouts">
	<h4>Latest Mail Outs</h4>
	<table>
		<tr>
			<th>Newsletter</th>
			<th>Group</th>
			<th>Attemp.</th>
			<th>Snt.</th>
			<th>Fld.</th>
			<th>Sk.</th>
		</tr>
		<?foreach($send_results as $result):?>
		<tr>
			<td><?=link_to($result->newslette_title, array("action"=>"view_newsletter", "id"=>$newsletter->id))?></td>
			<td><?=$result->group_name?></td>
			<td><?=$result->attempted?></td>
			<td><?=$result->sent?></td>
			<td><?=$result->failed?></td>
			<td><?=$result->skipped?></td>
		</tr>
		<?endforeach;?>
	</table>
</div>