/*.form-submit a,
.form-submit input {
	display:block;
	float:left;
	margin-right:10px;
}
fieldset.submit {position:absolute;}
.tabs_container {
	padding-bottom:80px !important;
	position:relative !important;
}
.form-submit {width:900px;}*/