.dashboard{
  width:28%;
  float:left;
  margin:10px 1% 10px 0;
  padding:10px 1%;
  background:white;
  overflow:hidden;
}

.dashboard-admincontent{
  width:50%;
}
.dashboard-adminfiles{
  width:50%;
}
.dashboard-adminfiles .dashboard_file{
  width:100px;
  height:130px;
  float:left;
  word-wrap:break-word;
  margin:0 8px 8px 0;
}
.dashboard-adminhome{
  width:42%;
  height:840px;
  float:right;
}
  .client-analytics-graph-loaded table.traffic-data,
  .client-analytics-graph-loaded table.traffic-sources
  {display:none;}
  .dashboard-adminhome .client-analytics-graph-loaded #client-analytics-graph{
    height:200px;
    width:90%;
    margin:0 auto;
  }