.joins{
  background:white;
}
  .joins *{color:black;}
  .joins h3{padding-bottom:5px;border-bottom:1px solid black;}
  .joins .join{
    width:29%;
    float:left;
    height:400px;
  }



#relationships .joins ul{
  height:330px;
  overflow:auto;
  overflow-x:hidden;
}