
.multipleselect{}

  .multipleselect li{
    padding:5px;
    margin:0 0 3px 0;
  }

    .multipleselect li label{
      float:left;
      width:80%;
      margin:0 0 0 1%;
    }
    .multipleselect li input{
      float:left;
    }

    form .multipleselect .inline-filter{
      width:95%;
      margin-bottom:8px;
    }