<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<?=stylesheet_asset('cms','wildfire.combined')?>  
	<?=stylesheet_asset('cms','cms-overrides')?>
	<!--[if lt IE 7]>
		<?=stylesheet_asset('cms','ie_cms')?>
	<![endif]-->

  <?=javascript_asset("build", "jquery.132.combined")?>
	<script type="text/javascript" charset="utf-8" src="/javascripts/jqwysi/build/jquery.wymeditor.min.js"></script>	 
	<script type="text/javascript" charset="utf-8" src="/javascripts/jqwysi/src/wymeditor/plugins/wildfire/jquery.wymeditor.wildfire.js"></script>	 
	<?=javascript_asset("cms", "cms_application")?>

	<title>Content Management System</title>
</head>

<body id="<?=strtolower(WXInflections::underscore($display_name))?>">
	<div id="header-container" class='container'>
		<div id="logout_button"><a href="/admin/home/logout" id="logout"><img src="/images/cms/logout_button.png"></a></div>
		<div id="cms_logo"><a href="/admin/home"><img src="/images/cms/cms_wildfire-logo.gif" /></a></div>		
    
		<ul id="primary-navigation" class="clearfix">
		  <?foreach($all_modules as $name=>$values):?>
		    <li<?if($name == $module_name) echo " class='active'";?>>
		      <a href="<?=$values['link']?>">
		        <?=$values['display_name']?>
		      </a>
		    </li>
			<?endforeach?>
	  </ul>
	</div>
	<?if($sub_links):?>
  	<div id="sub-navigation-container">
  	  <div id="quick_search">
        <form action="" method="get" accept-charset="utf-8">
          <input type="text" value="Quick Search" class="live_search" id="live_search_field" />
          <ul class="live_search_results"></ul>
        </form>
      </div>
  		<ul id="submenu" class="clearfix">
  	      <?foreach($sub_links as $sub_link=>$text):?>
  	        <?$class=""?>
  	        <?if($sub_link==$action || $sub_link==$type) $class="sub_nav_selected"?>
  	  	    <li class="<?=$class?>"><?=link_to($text, array("action"=>$sub_link))?></li>
  	  	  <?endforeach;?>
  		</ul>
  	</div>
	<?endif;?>
	<div id="page-container" class="clearfix">
  		
		<div id="content">
	  	<?=info_messages()?>
	  	<?=$content_for_layout?>
		</div>
	</div>
	<div id="footer">
	  <img src="/images/cms/wildfire_footer_logo.gif" /> Powered by Wildfire Web Content Manager and held together nicely by the 
	  <img src="/images/cms/wax_footer_logo.gif" /> framework. Wildfire Build <?=constant("CMS_VERSION")?>
	</div>
</body>
</html>
