<!DOCTYPE html>
<html lang="en" id="cms-<?=Inflections::underscore($display_name)?>">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <?=css_bundle("wildfire", array('media'=>'all'), "cms")?>
  <?=css_bundle("wymeditor", array('media'=>'all'), "cms")?>
  

	<title>Content Management System</title>
</head>

<body id="white-cms" class='wildfire'>
	
  <div class="brand" id="logo"><img src="/images/wildfire/logos/small.png" alt="wildfire"></div>
  
  <div id="page_content" class='clearfix'>
    <div class='clearfix full buttons_and_search'>
    <?=partial("_buttons_and_search", array('current_user'=>$current_user, 'obj'=>$this))?>
    </div>
    
    <div class='clearfix full content <?=Inflections::underscore($display_name)?>_content <?=Inflections::underscore($display_name)?>_<?=Inflections::underscore($action)?>' id="content">
      <?=info_messages()?>
      <?=error_messages()?>      
      <?=$content_for_layout?>
    </div>
  </div>
  
  <ul id="primary_navigation">
    <?foreach($allowed_modules as $i=>$info):?>
      <li class='top <?=$i?>'><a href="<?=$info['link']?>" class='<?=$i?>-link <?if($i == $module_name):?> active<?endif?>'><?=$info['display_name']?></a>
      </li>
    <?endforeach?>
  </ul>
  
  
<script src='http://www.google.com/jsapi?'  type='text/javascript'></script>
<script type='text/javascript'>
  google.load('jquery', '1.4');
  google.load('jqueryui', '1.8');
</script>	
<?=js_bundle("wildfire", array(), "cms")?>
<?=js_bundle("wymeditor", array(), "cms")?>
</body>
</html>
