<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <?=css_bundle("wildfire", array('media'=>'all'), "cms")?>
  <?=css_bundle("wymeditor", array('media'=>'all'), "cms")?>
  

	<title>Content Management System</title>
</head>

<body id="<?=strtolower(Inflections::underscore($display_name))?>">
	
  <div class="brand" id="logo"><img src="/images/wildfire/logos/small.png" alt="wildfire"></div>
  
  <ul id="primary_navigation">
    <?foreach($allowed_modules as $i=>$info):?>
      <li class='top <?=$i?>'><a href="<?=$info['link']?>" class='<?=$i?>-link <?if($i == $module_name):?> active<?endif?>'><?=$info['display_name']?></a>
      </li>
    <?endforeach?>
  </ul>
  
  <div id="page_content">
    
  </div>
  
  
<script src='http://www.google.com/jsapi?'  type='text/javascript'></script>
<script type='text/javascript'>
  google.load('jquery', '1.4');
</script>	
<?=js_bundle("wildfire", array(), "cms")?>
<?=js_bundle("wymeditor", array(), "cms")?>
</body>
</html>
