<!DOCTYPE html>
<html lang="en" id="<?=Inflections::to_url($controller)?>">
<head>
  <?=partial("_cf")?>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <?=css_bundle("wildfire", array('media'=>'all'), "cms")?>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Wildfire Web Content Manager Login</title>
</head>

<body>
  <div class="middle">
    <h1><img src="/images/wildfire/logos/white.png" alt="Wildfire" title="Wildfire">Content Management Login</h1>
    <?=$content_for_layout?>
    <div id="footer"><a href="">Wildfire CMS MMXI</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">Supported Browsers</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">Credits</a></div>
  </div>
</body>
</html>