<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<?=stylesheet_asset('cms','reset-fonts-grids')?>
	<?=stylesheet_asset('cms','cms-stylesheet')?>
	<?=stylesheet_asset('cms','cms_login')?>
  <title>Wildfire Web Content Manager Login</title>
</head>

<body>
  <div id="login_box">
    <div id="heading-login">
      <div id="logo">
        <h6>Wildfire web content management</h6>
      </div>

    </div>

    <div id="login_area">
		
      <?=info_messages()?>
      <?=$content_for_layout?>
    </div>
  </div>
  
  
</body>
</html>


