<?foreach($all_rows as $row):?>
    <tr id="row-<?=$row->id?>">
      <?foreach($scaffold_columns as $column=>$params):?>
        <td class="column">
          <?if($column == "title"):?>
            <?if($url = $row->url):?>
              <a href="<?=$url?>"><?=$row->title?></a>
            <?else:?>
              <?$dest_model = new $row->dest_model($row->dest_id)?>
              <a href="<?=$dest_model->permalink()?>"><?=$row->title?></a>
            <?endif?>
          <?elseif($column == "source"):?>
            <?$source_model = new $row->source_model($row->source_id)?>
            <a href="<?=$source_model->permalink()?>"><?=$source_model->title?></a>
          <?elseif($params["link"] && $current_user->access($module_name,"edit")):?>
            <a href="edit/<?=$row->id?>/"><?=$row->$column?></a>
          <?else:?>
            <?=$row->$column?>
          <?endif?>
        </td>
      <?endforeach?>
      <td class="column">
        <?if($current_user->access($module_name,"edit") && $action == "index"):?>
        <div class="generic_button edit_button"><a href="edit/<?=$row->id?>/">Edit</a></div>
        <?endif?>
        <?if($current_user->access($module_name,"delete")):?>
        <div class="generic_button delete_button"><a onclick="return confirm('Are you sure you want to do that?');" href="/admin/related/delete/<?=$row->primval()?>/">Delete</a></div>
        <?endif?>
      </td>
    </tr>
<?endforeach?>