<?if(!$form->is_valid()) echo $form->errors();?>
<form action="" class="form_container" method="post" enctype="multipart/form-data">
  <div id="container">
    <ul class="tabs-nav">
      <li><a href="#section-1">Editing Related Link</a></li>
    </ul>
    <div id="content_window" class="clearfix">
			<div id="content_editor" class="clearfix">
	    	<div id="section-1" class="tabs-container">
          <fieldset class="content_options">
            <div class="medium"><?=$form->title->render()?></div>
            <div class="medium"><?=$form->url->render()?></div>
            <div class="large"><?=$form->desc->render()?></div>
            <div class="small"><?=$form->source_model->render()?></div>
            <div class="small"><?=$form->source_id->render()?></div>
            <div class="small"><?=$form->dest_model->render()?></div>
            <div class="small"><?=$form->dest_id->render()?></div>
          </fieldset>
        </div>
      </div>
      
      <div class="clearfix"></div>
      <fieldset id="submit">
        <input type="image" class="generic_button wymupdate" src="/images/cms/button_save.gif" name="save" value="Save" />
        <input type="image" class="generic_button" src="/images/cms/button_cancel.gif" name="cancel" value="Cancel" />
      </fieldset>
    </div>
  </div>
</form>
