#primary_navigation li{
  display:block;
  padding-left:14px;
  font-size:85%;
}
#primary_navigation .top a{
 padding:8px 11px;
 text-decoration:none;
 color:white;
 background:#6D6D6D;
 display:block;
 margin-bottom:8px;
}
  #primary_navigation .top a:hover{
    background:#323331;
  }
  #primary_navigation .top .active{
    background:#323331;
  }
  
  #primary_navigation .logout{
    margin-top:80px;
  }