<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><?=$content->title?></title>
	<style>
	  p {
	    margin:10px 0;
	    line-height:16px;
	  }
	  img {
	    border:0;
	  }
	  body, html{
	    margin: 0;
	    padding: 0;
	  }
	</style>
</head>
<body>
	<center>
<div id="wrapper" style="font-family:Helvetica, Arial, sans-serif; color:#333; font-size:11px;">
  
  <div style="width:642px">
    <p style="text-align:center; color: #OOO;">If you have any problems reading this email you can <webversion>view a version online</webversion>.</p></div>
    <table border="0" width="600" cellspacing="0" cellpadding="0" style="margin-bottom:20px">
			<tr>
				<td style="font-size:13px;"><?=CmsTextFilter::filter("before_output", $content->content);?></td>
			</tr>
		</table>
<?if($content->articles && $content->articles[0] && $content->articles[0]->id):?>
	<?foreach($content->articles as $article):?>
		<table width='600' cellspacing='0' cellpadding='0' style="margin-bottom:20px">
			<tr>
				<?if($article->images && $article->images[0]):?>
				<td width='210' valign='top' align='center'>
					<a href='<?=$server?><?=$article->permalink?>' title='<?=$article->title?>'><img src="<?=$server?><?=$article->images[0]->permalink(140)?>" alt="<?=$article->title?>"/></a>
				</td>
				<?endif?>
				<td align='left' valign='top'>
					<h3 style='font-size:12px;font-weight:bold'><a href='<?=$server?><?=$article->permalink?>' title='<?=$article->title?>'><?=$article->title?></a></h3>
					<?=word_truncation($article->content, 20)?>
					<p><a href='<?=$server?><?=$article->permalink?>' title='<?=$article->title?>'>Read more</a></p>
				</td>
			</tr>
		</table>
	<?endforeach?>
<?endif?>
  </div>
	<p style="text-align:center;font-family:Helvetica, Arial, sans-serif; color:#333; font-size:11px;">
    This email was sent to <email>. You can instantly unsubscribe from these emails <unsubscribe>by clicking here</unsubscribe>
  </p>
</div>
</center>
</body>
</html>