<div class='file-tree-container'>
  <ul>
    <li class="directory collapsed clearfix">
      <span class='options'>
        <a href="/<?=trim($controller,"/")?>/child/?file=<?=$file_system_base?>" data-dest="/<?=trim($controller,"/")?>/child.ajax?file=<?=$file_system_base?>" class="operation button">Add Folder</span></a>
      </span>
      <a data-dir="<?=$file_system_base?>" class="top active node" rel="<?=$file_system_base?>" data-name="files" href="#">files</a>
    </li>
    <li class='file-tree' id="root_node" data-file-root="<?=$file_system_base?>" rel="<?=$file_system_base?>" data-list="/<?=trim($controller, "/")?>/_list" data-info="/<?=trim($controller, "/")?>/_info"></li>
  </ul>
</div>