<?=javascript_asset("jquery","jquery.tabs.min")?>
<?=stylesheet_asset("jquery", "jquery.tabs")?>
<!--[if lte IE 7]>
  <?=stylesheet_asset("jquery", "jquery.tabs-ie")?>
<![endif]-->


<div id="container">
  <ul class="tabs-nav">
    <li><a href="#section-1">Editing File</a></li>
  </ul>
  
  <div id="content_window" class="clearfix">
    <div id="content_editor">
      <div id="section-1" class="tabs-container">
        <fieldset id="wysiwyg">
          <?if($existing):?>
            <div id="existing_image" style="float:left; margin-right:15px">
              <img src="/admin/files/show_image/<?=$model->id?>/120<?=$model->extension?>" class="reflect rheight15" />
            	<p>File Link:</p>
            	<input type="text" name="link" value="/files/<?=$model->filename?>" />
              <p><a href="../download-file/<?=$model->id?>">Download File</a></p>
            </div>
          <?endif?>
        </fieldset>
      </div>
    </div>

    <fieldset id="content_options">
      <?=large(file_field($model, "filename", array("class"=>"multi"),"Choose a file to upload"), "<br />&nbsp;&nbsp;This replaces any existing file")?>
      <hr />
      <?=large(text_area($model, "caption", array("rows"=>"4")))?>
    </fieldset>
    <div class="clearfix"></div>
    <fieldset id="submit">
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_save.gif")?>" name="save" value="Save" />
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_save_close.gif")?>" name="save_close" value="Save and Close" />
      <input type="image" class="generic_button" src="<?=serve_asset("images", "cms", "button_cancel.gif")?>" name="cancel" value="Cancel" />
    </fieldset>
  </div>

</div>
