<div id="image_list_container">
  <?foreach($all_images as $image):?>
    <div class="browse_image" id="<?=$image->id?>">
      <img src="/admin/files/show_image/<?=$image->id?>/90<?=$image->extension?>" title="<?=$image->caption?>" /><br />
      <?=truncate($image->filename, 12)?>
    </div>
    <?=draggable_element($image->id, array("revert"=>"true", "ghosting"=>"true"))?>
  <?endforeach;?>
  <?if(empty($all_images)):?>
    No images available.
  <?endif?>
  <div class="clearfix"></div>
  <div id="image_navigation">
    <?if($previous):?>
      <?=link_to_remote("&lt; back&nbsp;&nbsp; ", array(
        "url"=>array("controller"=>"admin/files", "action"=>"browse_images", "id"=>$previous),
        "update"=>"image_list_container"
        ))?>
    <?endif?>
    <?if($more):?>
      <?=link_to_remote(" &nbsp;&nbsp;more &gt;", array(
        "url"=>array("controller"=>"admin/files", "action"=>"browse_images", "id"=>$more),
        "update"=>"image_list_container"
        ))?>
    <?endif?>
  </div>
</div>
