<?foreach($all_rows as $image):?>
  <div class="file_preview" id="<?=$image->id?>">
    <?=link_to(image_asset("cms","file_delete.gif"), array("controller"=>"admin/files", "action"=>"delete", "id"=>$image->id), array("confirm"=>"Are You Sure?", "class"=>"file_delete_button"))?>
    <img src="/images/cms/cms-generic-icon.png" width="15" alt="" />
    <a href="/admin/files/edit/<?=$image->id?>"><?=truncate($image->filename, 45)?> (<?=$image->file_size?>)</a>
  </div>
<?endforeach;?>
<?if(empty($all_rows)):?>
  Folder is empty
<?endif;?>
<div class="clearfix"></div>