
<form method="post" action="/<?=trim($controller,"/")?>/" class='upload-form clearfix' enctype="multipart/form-data" id="upload-form" data-html5-upload="/<?=trim($controller,"/")?>/upload.ajax">
  <input type="hidden" name="path" value="<?=$file_system_base?>" class="filepath">
  <input type="hidden" name="model-class" value="<?=$model_class?>" id="model-class">
  <input type="hidden" name="model-primval" value="<?=$model_primval?>" id="model-primval">
  
  <h3 class="upload-destination">Upload to <span>files</span></h3>
  
  <input id="files-upload" type="file" name="upload" multiple="multiple">
  
  <input type="submit" class='submit_field'>
  <div id="drop-area">
  	<h3>Drag &amp; Drop your files here.</h3>
  </div>
  <ul id="file-list">
  	<li class="no-items"></li>
  </ul>
</form>
