<script>
  function toggle_browser() {
    if($('image_browser').style.width == '450px') {
      $('image_browser').style.width = '0px';
    } else {
      $('image_browser').style.width = '450px';
    }
  }
</script>
<style>
  #image_browser {
    width:0px;
    border:1px solid #302D2D;
    float:left;
    overflow:hidden;
  }
  #image_list {
    padding:10px;
  }
  #image_browse_tab {
    float:left;
    width:34px;
    height:100px;
    margin-top:15px;
  }
  #filter_block {
    padding:4px 10px;
  }
</style>
<div id="image_browser">
  <div id="filter_block">
    <form id="filter_form" action="">
      <strong>Filter images: </strong>(type some text from the filename)<br /> 
      <input type="text" id="image_filter" name="filter" size="20" />
    </form>
    <?=observe_field("image_filter", array(
      "url" => array("action"=>"image_filter"),
      "frequency" => "1",
      "update"=>"image_list",
      "with"=>"'filter='+value"
    ))?>
  </div>


  <div id="image_list">
    <?=$all_images_partial?>
  </div>
  <div class="clearfix"></div>
</div>
<div id="image_browse_tab" class="clearfix">
  <a href="#" onclick="toggle_browser();">
    <img src="/images/cms/image-browse-tab.gif">
  </a>
</div>
