<div class="image_list_container">
  <?foreach($all_images as $image):?>
    <div id="<?=$image->id?>" class="drag_image">
      <div class="image_place">
        <img src="<?=$image->permalink(133)?>" title="<?=$image->filename?>" alt="<?=$image->description?>"/>
      </div>
      <p><?=$image->filename?></p>
      <div class="add_image" id="add_image_<?=$image->id?>">
			  <a href="#">Add</a>
			</div>
      <div class="edit_image" id="edit_image_<?=$image->id?>">
			  <a href="/admin/files/edit/<?=$image->id?>">Edit</a>
			</div>
			<div class="url_image" id="url_image_<?=$image->id?>">
			  <a href="#">Url</a>
			</div>
    </div>
  <?endforeach;?>
  <?if(empty($all_images)):?>
    No images available.
  <?endif?>
  <div class="clearfix"></div>
  
</div>