<?=javascript_asset("jquery","jquery.imgareaselect-0.5.1.min.js")?>

<script type="text/javascript">
 var $x1, $y1, $x2, $y2, $w, $h;
 
 function selectChange(img, selection)
 {
   $x1.val(selection.x1);
   $y1.val(selection.y1);
   $w.val(selection.width);
   $h.val(selection.height);
 }

 $(document).ready(function () {
   $x1 = $('#x1');
   $y1 = $('#y1');

   $w = $('#w');
   $h = $('#h');
 });
 
 $(window).load(function () {
   $('img#wff').imgAreaSelect({ selectionOpacity: 0, onSelectChange: selectChange });
 });
</script>
<form action="" method="post" name="" >
<div id="container">
	<div id="content_window" class="clearfix">
    <div id="content_editor" class="clearfix">
      <div id="section-1" class="tabs-container">
				<img src="<?=$model->url()?>" alt="crop me!" id="wff"/>
			</div>
		</div>
		<div id="resizehandle"></div>
	</div>
	
	<fieldset id="content_options">	
		<h3>Selection coordinates:</h3>
		<div class="large">
			<label>X<sub>1</sub></label>
			<input type="text" id="x1" value="" disabled="disabled" name="crop[x]"/>
		</div>
		<hr />
		<div class="large">
	  	<label>Y<sub>1</sub>:</label>
			<input type="text" id="y1" value="" disabled="disabled" name="crop[y]"/>
		</div>
		<hr />
	
   	<h3>Selection dimensions:</h3>
	  <div class="large">
			<label>Width:</label>
			<input type="text" value="" id="w" disabled="disabled" name="crop[width]"/>
		</div>
		<hr />
		<div class="large">
	  	<label>Height:</label>
			<input type="text" value="" id="h" disabled="disabled" name="crop[height]"/>
	  </div>
		
	 </fieldset>
	<fieldset id="submit">
     <input type="image" class="generic_button areyousure" src="<?=serve_asset("images", "cms", "button_save.gif")?>" name="save" value="Crop" />
   </fieldset>
	
</div>
</form>
