<?=javascript_asset("jquery","jquery.interface")?>
<?=stylesheet_asset("jquery", "cropper")?>

<div id="container"></div>
<div id="resizeMe">
	<div id="resizeSE"></div>
	<div id="resizeE"></div>
	<div id="resizeNE"></div>
	<div id="resizeN"></div>
	<div id="resizeNW"></div>
	<div id="resizeW"></div>
	<div id="resizeSW"></div>
	<div id="resizeS"></div>
</div>
<script type="text/javascript">
$(document).ready(
	function()
	{
		$('#resizeMe').Resizable(
			{
				minWidth: 50,
				minHeight: 50,
				maxWidth: 400,
				maxHeight: 400,
				minTop: 50,
				minLeft: 50,
				maxRight: 700,
				maxBottom: 500,
				dragHandle: true,
				onDrag: function(x, y)
				{
					this.style.backgroundPosition = '-' + (x - 50) + 'px -' + (y - 50) + 'px';
				},
				handlers: {
					se: '#resizeSE',
					e: '#resizeE',
					ne: '#resizeNE',
					n: '#resizeN',
					nw: '#resizeNW',
					w: '#resizeW',
					sw: '#resizeSW',
					s: '#resizeS'
				},
				onResize : function(size, position) {
					this.style.backgroundPosition = '-' + (position.left - 50) + 'px -' + (position.top - 50) + 'px';
				}
			}
		);
		$("#container").css({background-image: <?=$image->file_url()?>})
	}
);
</script>