<script>
  var srcwidth = <?=$image->width()?>;
  var srcheight = <?=$image->height()?>;
</script>
<div id="crop_container" class="crop_container">
  <img src="<?=$image->url()?>" width="<?=$image->width()?>" height="<?=$image->height()?>" class="croppable resizable">
</div>

<div class='crop-submit clearfix'>
  <form class="coords">
    <input type="hidden" id="x1" name="x1" />
  	<input type="hidden" id="y1" name="y1" />
  	<input type="hidden" id="x2" name="x2" />
  	<input type="hidden" id="y2" name="y2" />
  	<input type="hidden" id="w" name="w" />
  	<input type="hidden" id="h" name="h" />
  	<input type="hidden" name="operation" value="crop" />
  </form>
  <a class="button operation operation_save" id="crop_save" href="/admin/files/edit/<?=$image->id?>">Save Image</a>
  
</div>