<?=partial("_form_start", $this)?>
  <label for="image_zoom_<?=$image->id?>">Zoom</label>
  <select name="image_zoom" id="image_zoom_<?=$image->id?>" class="image_zoom_select" data-zoom-target="#zoomable_image_<?=$image->id?> img">
    <option value="to_fit" selceted="selected">To Fit</option>
    <option value="2">200%</option>
    <option value="1.75">175%</option>
    <option value="1.5">150%</option>
    <option value="1.25">125%</option>
    <option value="1">100%</option>
    <option value="0.75">75%</option>
    <option value="0.50">50%</option>
    <option value="0.25">25%</option>
  </select>
  
  <div class="zoomable_image" id="zoomable_image_<?=$image->id?>">
    <img src="<?=$image->url()?>" data-original-width="<?=$image->width()?>" data-original-height="<?=$image->height()?>">
  </div>
  
  <fieldset class='submit'>
    <?=partial("_submit", array('model'=>$model, 'controller'=>$controller, 'model_class'=>$model_class, 'autosave'=>$autosave))?>
  </fieldset>
</form>