<?=javascript_asset("jquery","jquery.tabs.min")?>
<?=javascript_asset("jquery","jquery.interface")?>
<?=stylesheet_asset("jquery", "jquery.tabs")?>
<!--[if lte IE 7]>
  <?=stylesheet_asset("jquery", "jquery.tabs-ie")?>
<![endif]-->
<?=javascript_asset("cms","cms_content")?>
<?=javascript_asset("cms","cms_tree")?>


  <div id="container">
    <ul class="tabs-nav">
      <li><a href="#section-1">Your Files and Images</a></li>
    </ul>
    
  <div id="content_window" class="clearfix">
    <div id="content_editor">
      <div id="section-1" class="tabs-container">
        <div id="file_browse_header" class="clearfix">
          <div id="file_tree_head">Folders and files</div>
          <div id="file_contents_head">Folder Contents</div>
        </div>
        <fieldset id="wysiwyg" class="file_browser_container">
          <div id="file_tree"><?=$file_tree?></div>
          <div id="file_tree_files" class="clearfix">
            <?=$list?> 
          </div>
        </fieldset>
      </div>
    </div>
    <form action="/admin/files/create">
      <fieldset id="content_options">
      
        <?=large(file_field($model, "filename", array("class"=>"multi"),"Choose a file to upload"))?>
        <hr />
        <?=large(text_area($model, "caption", array("rows"=>"4")))?>
        <hr />
        <input type="image" src="/images/cms/button_upload.gif" />
      </fieldset>
    </form>
    </div>
    <div class="clearfix"></div>
    
  </div>
  
</div>
