<div class='info clearfix'>
  
  <?=partial("_new_folder", array('controller'=>$controller, 'file_system_base'=>$file_system_base))?>
  
  <div class='file-info clearfix'></div>
  
  <form method="post" action="/<?=trim($controller,"/")?>/" class='upload-form clearfix' enctype="multipart/form-data" id="upload-form" data-html5-upload="/<?=trim($controller,"/")?>/upload.ajax">
  <?=partial("_upload", array('controller'=>$controller, 'file_system_base'=>$file_system_base))?>
  </form>
  

  
</div>
<?=partial("_tree", array('file_system_base'=>$file_system_base, 'controller'=>$controller))?>