<div class='info clearfix'>
  
  <?=partial("_upload", array('controller'=>$controller))?>
  
  <div class='file-info clearfix'>

  </div>
  
</div>
<div class='file-tree-container'>
  <ul>
    <li class="directory collapsed clearfix">
      <span class='options'>
        <a href="?new-folder=<?=$file_system_base?>"><span class='ui-icon ui-icon-circle-plus'>add</span></a>
        <a href="?delete-folder=<?=$file_system_base?>"><span class='ui-icon ui-icon-circle-minus'>remove</span></a>
      </span>
      <a data-dir="<?=$file_system_base?>" class="top active" rel="<?=$file_system_base?>" href="#">Your Files</a>
    </li>
    <li class='file-tree' data-file-root="<?=$file_system_base?>" rel="<?=$file_system_base?>" data-list="/<?=trim($controller, "/")?>/_list" data-info="/<?=trim($controller, "/")?>/_info"></li>
  <ul>
</div>