<div id="image_details" class="clearfix">
  <div id="selected_image">
    <img src="/images/cms/add_image_blank.gif" />
  </div>
  <div id="image_meta">
    <div class="medium">
      <label for="description">Image Description (optional)</label>
      <input type="text" id="meta_description" name="description" disabled="disabled" />
    </div>
    <div class="medium">
      <label for="link">Link Image To (optional)</label>
      <input type="text" name="link" disabled="disabled" id="inline_image_link" />
    </div>
    <div class="medium">
      <label for="flow">Text flow</label>
      <span id="flow_normal"><input type="radio" name="flow" value="flow_normal" checked="checked" disabled="disabled" /></span>
      <span id="flow_left"><input type="radio" name="flow" value="flow_left" disabled="disabled" /></span>
      <span id="flow_right"><input type="radio" name="flow" value="flow_right" disabled="disabled" /></span>
    </div>
    <div class="medium" id="inline_insert">
      <div class="generic_button"><a href="#">Insert Image</a></div>
    </div>
  </div>
</div>