<?=stylesheet_asset('cms','reset-fonts-grids')?>
 
<?=stylesheet_asset('cms','cms-stylesheet')?>
<?=stylesheet_asset('cms','cms-overrides')?>

<script type="text/javascript" src="/javascripts/cms/file.js"></script>
 
 
  <div id="advanced_uploader" class="clearfix">
    <form id="form1" action="" method="post" enctype="multipart/form-data">
      <h2>Upload Image From URL</h2>
        <fieldset>
          <div class="medium">
            <label for="upload_from"><strong>Enter URL to upload</strong></label>
            <input class="input_field" type="text" name="upload_from_url" id="upload_from" />
          </div>
          <?=medium(text_field($model, "filename", array(), "New Filename"))?>
          
        </fieldset>
        <fieldset>
        <?=medium(select($model, "folder", $model->folder_options, array(), "Upload to a folder?"))?>
        <hr />
        <?=medium(text_area($model, "description", array("rows"=>"3"), "Give these images an optional description"))?>
        <hr />
        </fieldset>
      <input type="submit" value="Start Upload" id="start_button" onclick='set_post_params(); return false' />
      <input type="hidden" name="url_content_page_id" id="url_content_page_id" value="<?=$page->id?>" />
			<input type="hidden" name="url_content_page_type" id="url_content_page_type" value="<?=$page->table?>" />				
			<input type="hidden" name="url_join_field" id="url_join_field" value="<?=Request::get('join_field')?>" />
    </form>
    
    <form id="upload_url">
      
    </form>
    

  </div>