<link href="/stylesheets/cms/upload.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/javascripts/upload/swfupload.js"></script>
<script type="text/javascript" src="/javascripts/upload/swfupload.queue.js"></script>
<script type="text/javascript" src="/javascripts/upload/fileprogress.js"></script>
<script type="text/javascript" src="/javascripts/upload/handlers.js"></script>
<script type="text/javascript" src="/javascripts/cms/cms_content.js"></script>
<script>
  var swfu
  $(document).ready(function() {
    init_upload();
  });
  
</script>

<div id="content">
	<h2>Advanced File Upload</h2>
	<form id="form1" action="index.php" method="post" enctype="multipart/form-data">
	  <fieldset>
      <?=medium(select($model, "folder", $model->folder_options, array(), "Upload to folder?"))?>
      <?=large(text_area($model, "description", array("rows"=>"3"), "Give these images a caption (optional)"))?>
    </fieldset>
      
		<fieldset class="flash" id="fsUploadProgress">
			<legend>Upload Queue</legend>
		</fieldset>
		<div id="divStatus">0 Files Uploaded</div>
			<div>
				<input type="button" value="Upload file (Max 100 MB)" onclick="set_post_params(); swfu.selectFiles()" style="font-size: 8pt;" />
				<input id="btnCancel" type="button" value="Cancel All Uploads" onclick="swfu.cancelQueue();" disabled="disabled" style="font-size: 8pt;" />

			</div>

	</form>
</div>
